/**
 *   Shared/universal rules
 */
html {
  // specifying root font size
  // all other font sizes should be in rem units
  // TODO: media queries
  font-size: 12px;
}
* {
  // Use box sizing on all the things!
  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // no tap highlight
  //-webkit-tap-highlight-color: transparent;
  // no text select
  -webkit-user-select: none;
 // -khtml-user-select: none;
 // -moz-user-select: none;
 // -ms-user-select: none;
  user-select: none;
}
//HACK: placeholder not disappearing on focus in textarea
input:focus::-webkit-input-placeholder {
  color: transparent;
}
// except inputs, they can be text-selected
input, textarea {
  -webkit-user-select: initial;
 // -khtml-user-select: initial;
 // -moz-user-select: initial;
 // -ms-user-select: initial;
  user-select: initial;
  border-radius:0;
}
button:focus,
input:focus,
textarea:focus{
  outline: none;
}
body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: OpenSans;
  color: #000;
  background-color: #fff;
}
button{
  background-color: #2795d0;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
//  text-shadow: 2px 2px 3px $p-blue-dark-20;
  text-align: center;
  padding: 0;
}
// Universal link styling
a {
  color: $p-blue;
  text-decoration: none;
  &:active {
    color: $p-blue;
  }
}
// universal components

.alert {
  z-index: $z-alert;
  &>div {
    position: absolute;
    background: white;
    padding: 20px 10px 55px;
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
    min-height: 120px;
    button {
      position: absolute;
      bottom: 15px;
      width: 160px;
      right: 20px;
      height: 30px;
      left: 50%;
      margin-left: -80px;    }
  }
  &+.dim-background{
    z-index: ($z-alert - 1);
  }
}
//--- UTILITY CLASSES
// control z-index through other rules when using this
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.dim-background {
  background: black;
  opacity: 0.8;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hide {
  display: none !important;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

