
.content.signup{
  background-color: #2281C5;
  color: white;
}

.modal-content{
  width: 90%;
  background-color: #FFF;
  z-index: 1;
  position: relative;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: black;

  textarea{
    color: black;
  }

  .btn-subtle{
    color: black;
  }

}

.textarea-transparent{
  border: none;
}

