//micro-grid framework
$grid-columns:12;

%col {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: 100% / $grid-columns * $i;
    @extend %col;
  }
}
//that's a 12 column grid.


.content.signup{
  background-color: #2281C5;
  color: white;
}

//progress bar
@mixin progress-bar($height, $bgcolor, $activecolor, $bordercolor, $childClass) {

  @mixin right-arrow($bordercolor) {
    right: -$height;
    top: 0;
    border: solid transparent;
    border-width: $height/2;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    z-index: 1;
    border-left-color: $bordercolor;
  }

  height: $height;
  width: 100%;
  display: flex;
  box-shadow: 0px 0px 11px $bgcolor;

  & > #{$childClass} {
    background-color: $bgcolor;
    flex-grow: 1;
    position: relative;

    &.active ~ #{$childClass} {
      background-color: $activecolor;
    }

    &.active:after,
    &.active:before{
      @include right-arrow($bordercolor);
    }

    &.active:after{
      border-color: rgba(136, 183, 213, 0);
      border-left-color: $bgcolor;
    }

  }
}

.progress-bar{
  @include progress-bar(30px, #193046,  #1D6AB5, #193046, '.progress-bar-step');
}

fieldset{
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
}

$text-input-padding: 0.5em;
$text-input-fontsize: 1.2rem;

.select-input {
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: $text-input-padding;
  font-size: $text-input-fontsize;
  -webkit-appearance: none;
  width: 100%;
  color: transparent;
  height: 40px;
}

.select-input > option {
    color: black;
}
.select-input > option:first-child {
  color: #ccc;
}
.select-input:valid{
  color: white;
}
.text-input-group{
  position: relative;
  margin: 1rem 0;
  font-size: $text-input-fontsize;
  font-weight: 200;
}

.text-input{
  display: block;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  font-size: inherit;//from text-input-group
  padding: $text-input-padding;
  padding-bottom: 0.2em;
  padding-top: 0.7em;
  transition: border-color 150ms ease-in;
  background-color: transparent;
  height: 40px;
}

.text-input-label{
  font-size: inherit; //from text-input-group
  position: absolute;
  top: $text-input-padding;
  left: $text-input-padding;
  color: white;
  transition: top 150ms ease-out, color 150ms ease-out;
}

.text-input-label-static{
  @extend .text-input-label;
  font-size: 0.8rem;
  top: -0.5rem;
}

.text-input:focus + .text-input-label, 
.text-input:valid + .text-input-label,
.select-input:focus + .text-input-label,
.select-input:valid + .text-input-label,{ //will this work on mobile? http://caniuse.com/#search=valid
	font-size: 0.8rem;
	top: -0.5rem;
}


.headline{
	display: block;
	margin: 0; 
	padding: 0; 
	line-height: 1.2em; 
	font-size: 1.5rem; 
	font-weight: 100;
}

.headline-sm{
	@extend .headline; 
	font-size: 1.2rem; 
	margin-bottom: 0.5em; 
}

.headline-md{
  @extend .headline;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.headline-lrg{
	@extend .headline; 
	font-size: 2rem;
}

.radio-label{
	display: inline-block; 
	padding: 0.2em 0.5em; 
	font-size: 1.2rem; 
	border-radius: 1.5em;
	z-index: 1; 
	vertical-align: middle; 
	margin: 0 0.3em;
  background-color: #2795d0;
}
.txt-lrg{
  display: block;
  font-size: 1.5rem;
  z-index: 1;
  vertical-align: middle;
  margin: 0.5em 0 1.5em 0;
  width: 100%;
  font-weight: 800;
  color: white;
}

.radio-button:checked + .radio-label-square{
  background-color: #2795d0;
  color: white;
  font-weight:bold;
}

.radio-button:checked + .radio-label:after {
	content: " "; 
	background-color: #95D583;
}
.radio-label:after{
	content: " "; 
	display: inline-block;
	vertical-align: middle; 
	border-radius: 50%; 
	height: 1.5em; 
	width: 1.5em; 
	background-color: transparent; 
	border: 1px solid #EAEAEA; 
	margin-left: 0.5em; 
	box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.09); 
}

.centered-text{
	text-align: center;
	margin-bottom: 1rem; 
}

.modal-content{
  width: 90%;
  background-color: #FFF;
  z-index: 1;
  position: relative;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: black;

  textarea{
    color: black;
  }

  .btn-subtle{
    color: black;
  }

}

.textarea-transparent{
  border: none;
}



//animations
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.animate-enter {
  animation-name: bounceInRight;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.animate-leave {
  animation-name: bounceOutLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}


