.dim-background {
  background: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hide {
  display: none !important;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.sr-only {  //for screen-readers only
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

//clearfix
@mixin clearfix() {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }

}

.animate-enter {
  animation-name: bounceInRight;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.animate-leave {
  animation-name: bounceOutLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}
