@charset "UTF-8";
/**
 *  IF YOU SEE THIS IN .CSS FILE
 *  DON'T EDIT IT - GO TO THE SCSS SOURCE
 */
@import "vars";
@import "fonts";
@import "prefixer";
@import "base";
@import "toolbars";
@import "login_screen";
@import "contact_list";
@import "file_list";
@import "signup_screen";

#app-container {
  min-height: 100%; // for global touch events to get detected
  height: 100%; 
  overflow: auto; 
}

// Wrapper to be used around all actual content data
.content {
  position: absolute;
  top: ($navbar-height + $tabbar-height);
  right: 0;
  bottom: $footer-height;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  z-index: $z-content;
  &.with-reply-box {
    bottom: ($footer-height + $reply-height);
  }
  &.without-tab-bar {
    top: $navbar-height;
  }
  &.fullscreen {
    top: 0; 
    bottom: 0; 
  }
  &.padded {
    padding: 20px; 
  }

  // Hack to force all relatively and absolutely positioned elements still render while scrolling
  // Note: This is a fix for IOS bug with "-webkit-overflow-scrolling: touch"
  //&>* {
  //  @include transform(translateZ(0));
  //}
}

//--- Lists
//
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.list-item {
  color: #444;
  background-color: #e8e9e8;
  height: $item-height;
  max-height: $item-height;
  min-height: $item-height;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 15px $list-item-padding-left;
  position: relative;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  @include flexbox();

  &.unread {
    background: white;
    border-left: 5px solid $p-green;
    padding-left: ($list-item-padding-left - 5);
    .subject {
      font-weight: 600;
    }
  }
  &.placeholder {
    background: white;
  }
  .attachment {
    position: absolute;
    top: 20px;
    right: 13px;
    @include transform(rotate(224deg));
    font-size: 140%;
  }
  .attachment-count {
    position: absolute;
    top: 23px;
    right: 0;
    width: 15px;
    text-align: left;
  }
  .message-count{
   font-size: 80%;
    margin-right:5px;
    color:#8e8e8e;
  }
  .message-count-icon{
    margin-right:1px;
  }
  .animated-background {
    @include animation-duration(1s);
    @include animation-fill-mode(forwards);
    @include animation-iteration-count(infinite);
    @include animation-name(placeHolderShimmer);
    @include animation-timing-function(linear);
    background: #f6f7f8;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    @include background-size(200% 100%);
    height: 90%;
    width: 100%;
    margin: 3px 8px 0 0;
    position: relative;
    .mask1,
    .mask2,
    .mask3,
    .mask4 {
      position: absolute;
      background-color: white;
    }
    .mask1 {
      top: 35%;
      left: 0;
      bottom: 35%;
      right: 0;
    }
    .mask2 {
      top: 0;
      left: 40%;
      bottom: 43%;
      right: 25%;
    }
    .mask3 {
      top: 43%;
      left: 54%;
      bottom: 0;
      right: 16%;
    }
  }
  .name-and-subject {
    @include flex(0 1 auto);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    .name {
      font-size: 1rem;
      font-weight: 600;
    }
    .subject {
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
  .timestamp {
    @include flex(0 0 auto);
    font-weight: 300;
    overflow: hidden;
    padding-right: 8px;
    text-align: right;
    font-size: 0.9rem;
    .date {
      font-weight: 600;
      font-size:90%
    }
  }
}

// Conversation styles
$edge-distance: 0;
$msg-distance: 15px;
$big-side-distance: 30px;
$item-border-radius: 3px;
.conversation {
  margin-top: 30px;
  padding-bottom: 80px;
  color: $p-blue-darker;
  @include user-select(initial);
  .item {
    width: 100%;
    padding: $msg-distance $big-side-distance 0 $edge-distance;
    .head {
      padding: 4px 7px 3px 15px;
      background-color: #E7F5FF;
      position: relative;
      font-variant: small-caps;
      text-transform: uppercase;
      font-size: 85%;
      font-weight: 600;
      border-top-right-radius: $item-border-radius;
      .timestamp {
        float: right;
        font-size: 80%;
        .date {
        }
        .time {
        }
      }
    }
    .body {
      text-align: left;
      overflow-x: auto;
      padding: 0 7px 7px 15px;
      background-color: #E7F5FF;
      border-bottom-right-radius: $item-border-radius;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .file-count{
      font-size: 10px;
      color: #aaa;
    }

    .receipts {
      color: #A9A9A9;
      font-size: 70%;
      text-align: right;
      margin-top: 2px;
      padding-right: 4px;
      .receipt {
        margin-left: 3px;
      }
    }

    &.ack {
      .head {
        padding-left: 50px;
        border-radius: 0 $item-border-radius $item-border-radius 0;
      }
      &.self {
        .head {
          border-radius: $item-border-radius 0 0 $item-border-radius;
          padding-left: 50px;
        }
        .ack-icon {
          color: #9B9B9B;
        }
      }
    }
    .ack-icon {
      font-size: 182%;
      border-radius: 100px;
      display: block;
      padding: 6px;
      position: absolute;
      left: 15px;
      top: -7px;
      background-color: #FFFFFF;
      color: #698FA9;
    }

    &.self {
      padding-left: $big-side-distance;
      padding-right: $edge-distance;
      .head {
        background-color: #f5f5f5;
        border-radius: $item-border-radius 0 0 0;
        padding-left: 7px;
        padding-right: 15px;
      }
      .body {
        background-color: #f5f5f5;
        border-radius: 0 0 0 $item-border-radius;
        padding-left: 7px;
        padding-right: 15px;
      }
    }
  }
}

#conversation-head {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: $navbar-height;
  z-index: $z-tabbar;
  height: 30px;
  color: white;
  line-height: 30px;
  .counter {
    width: 45px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: right;
    padding-right: 5px;
    background-color: $p-blue-darker;
  }
  .subject {
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 45px;
    white-space: nowrap;
    padding-left: 5px;
    background-color: $p-blue-darker;
  }
  .participants {
    transition: all 500ms ease;
    @include transform(translateY(-100%));
    max-height: 200px;
    width: 100%;
    overflow: auto;
    background-color: $p-blue-darker;
    margin-top: 30px;
    padding-bottom: 5px;
    &.open {
      @include transform(translateY(0%));
    }
    .avatar {
      margin: 2px 5px 2px 5px;
    }
  }
}

#reply {
  position: fixed;
  @include flexbox();
  bottom: $footer-height;
  height: auto;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $z-tabbar;
  border-top: 1px solid #ddd;

}

.reply-ack, .reply-attach {
  display: block;
  position: relative;
  width: 40px;
  font-size: 22px;
  @include flex(0 0 auto);
  background-color: #fafafa;
  background: linear-gradient(135deg, rgba(250, 250, 250, 1) 0%, rgba(220, 220, 220, 1) 100%);
  .icon-btn{
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
  }
}
.reply-ack{
}
.reply-attach {
}

.reply-input {
  min-height: 45px;
  max-height: 150px;
  padding: 3px 10px 0 10px;
  @include flex(1 1 auto);
  background: linear-gradient(0deg, #FAFAFF 0%, #F4F2FF 100%);
  overflow: scroll;
  border: none;
  border-top: 3px solid #F4F2FF;
  border-bottom: 3px solid #F4F2FF;
  @include user-select(initial);
  resize: none;

  &:focus{
    outline: none;
  }
}

#new-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .recipients, .subject, .message {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border: 0;
    padding: 0 5px;
  }

  $recipients-height: 40px;

  .recipients {
    height: $recipients-height;
    padding-right: 0;

    .to, .names, .add-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      overflow: hidden;
      white-space: nowrap;
      height: $recipients-height;
      line-height: $recipients-height;
    }
    .to {
      width: 22px;
      color: #aaa;
      left: 5px;
    }
    .names {
      left: 27px;
      right: 50px;
      overflow-x: auto;
    }
    .add-btn {
      width: 48px;
      background-color: #eee;
      color: #888;
      font-size: 150%;
      text-align: center;
      right: 0;
    }
  }
  //todo: ugly, fix
  .attach-btn {
    width: 48px;
    background-color: #eee;
    color: #888;
    font-size: 188%;
    text-align: center;
    right: 0;
    position: absolute;
    top: 40px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid white;
  }
  .icon-counter {
    position: absolute;
    right: 2px;
    font-size: 10px;
    top: 13px;
  }
  .subject {
    top: 40px;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #EDEDED;
    -webkit-appearance: none; // removes weird inner shadow on ios
    &:focus {
      background-color: #fafafa;
    }
  }

  .message {
    resize: none;
    top: 80px;
    bottom: 0;
    padding-top: 10px;
    &:focus {
      background-color: #fafafa;
    }
  }

}

.contact-select-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contact-select {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  .contact {
    padding: 11px 10px 11px 35px;
    font-size: 1rem;
    border-bottom: 3px solid #FFFFFF;
    position: relative;
    background-color: #eee;
    i {
      color: $p-blue;
      font-size: 150%;
      position: absolute;
      left: 10px;
      top: 15px;
    }
  }
  .username {
    color: #888;
    font-size: 90%;
    margin-left: 5px;
  }
}

.contact-select.file-select {
  width: auto;
  height: auto;
  position: fixed;
  top: $navbar-height;
  bottom: $footer-height;
  left: 0;
  right: 0;
  z-index: ($z-tabbar+1);
  .contact{
    i{
      top: 10px;
    }
  }
}

.avatar {
  width: 29px;
  height: 29px;
  line-height: 24px;
  display: inline-block;
  border: 1px solid #D8D8D8;
  padding: 2px 1px 1px 2px;
  background-color: #eeeeee;
  vertical-align: middle;
  text-align: center;
  color: #c3c3c3;
  font-size: 20px;
  .pic {
    width: 12px;
    height: 12px;
    float: left;
  }

  &.big {
    width: 42px;
    height: 42px;
    line-height: 38px;
    font-size: 28px;
    .pic {
      width: 18px;
      height: 18px;
    }
  }
}

.info-blocks {
  @include flexbox();
  @include flex-wrap(wrap);
  margin: 10px -5px 40px -5px;
  .block {
    @include flex(auto);
    background-color: #fafafa;
    margin: 5px;
  }
  .block-title {
    background-color: #F2F2F2;
    color: #777;
    padding: 3px 5px 3px 5px;
  }
  .block-content {
    padding: 3px 5px 3px 5px;
    word-wrap: break-word;
  }
}

.btn {
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em; 
  border-radius: 3px;
  color: white; 
  width: 100%; 
}
.btn-subtle{
  background-color: transparent;
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn-lrg{
  @extend .btn; 
  font-size:  1.6rem; 
  width: 100%;
  font-weight: 100;
}

.btn-safe {
  @extend .btn; 
  background-color: #95D583;
  color: white;
}

.btn-danger {
  @extend .btn; 
  color: white;
  background-color: #ee3333;
}
