/**
 *  Login screen specific styles
 */
// combined with .modal class, this is a top-level
// full-screen wrapper for login page


.app-version{
  color: #73B3E0;
  position: absolute;
  left: 5px;
  top: 2px;
  font-size: 80%;
}
.logo {
  display: block;
  width: 100%;
  margin: 25px auto;
}
.saved-login{
  color: white;
  background-color: #1D6AB5;
  margin: -10px -100% 12px -100%;
  padding: 5px 0 10px 0;
  font-size: 2em;
  text-align: center;
  .note{
    font-size: 1rem;
    margin-top: 5px;
    padding: 0 5px;
    color: #93C5EA;
  }
}

#login-process-state{
  text-align: center;
  color: $p-blue-light-40;
  height:15px;
}