<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.peerio" version="0.4.1">
  <name>Peerio</name>
  <description>
    Secure message and file sharing for everyone. Work anywhere with our cloud. Keep your data safe with end-to-end encryption.
  </description>
  <author href="https://peerio.com" email="peerio@peerio.com">
    Technologies Peerio Inc.
  </author>
  <icon src="res/icon.png"/>
  <platform name="android">
    <icon src="res/icons/android/ldpi.png" density="ldpi"/>
    <icon src="res/icons/android/mdpi.png" density="mdpi"/>
    <icon src="res/icons/android/hdpi.png" density="hdpi"/>
    <icon src="res/icons/android/xhdpi.png" density="xhdpi"/>

    <splash src="res/screens/android/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="res/screens/android/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="res/screens/android/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="res/screens/android/splash-land-xhdpi.png" density="land-xhdpi"/>

    <splash src="res/screens/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="res/screens/android/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="res/screens/android/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="res/screens/android/splash-port-xhdpi.png" density="port-xhdpi"/>
  </platform>

  <platform name="ios">
    <splash src="res/screens/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screens/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screens/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screens/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/screens/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/screens/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screens/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screens/ios/Default-736h.png" width="1242" height="2208"/>
    <splash src="res/screens/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
  </platform>
  <preference name="AndroidPersistentFileLocation" value="Internal"/>
  <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root"/>
  <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root"/>
  <preference name="SplashScreenDelay" value="1000"/>
  <content src="index.html"/>

  <access origin="*"/>
  <access origin="https://*.peerio.com"/>
  <access origin="https://peerio.com"/>
  <access origin="https://peerio.blob.core.windows.net"/>

  <preference name="SplashScreen" value="screen"/>
  <preference name="KeepRunning" value="false"/>
  <preference name="Orientation" value="portrait"/>
  <preference name="Fullscreen" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="15"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="InAppBrowserStorageEnabled" value="true"/>
  <preference name="ShowTitle" value="true"/>
  <preference name="StatusBarStyle" value="default"/>
  <preference name="StatusBarOverlaysWebView" value="false"/>
</widget>
