<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="100012" id="com.peerio" ios-CFBundleVersion="0" version="2.2.3">
    <name>Peerio</name>
    <description>
        Secure message and file sharing for everyone. Work anywhere with our cloud. Keep your data safe with end-to-end
        encryption.
    </description>
    <author email="peerio@peerio.com" href="https://peerio.com">
        Technologies Peerio Inc.
    </author>
    <content src="index.html" />
    <icon src="res/icon.png" />
    <access origin="https://*.peerio.com" />
    <access origin="https://peerio.com" />
    <access origin="https://peerio.blob.core.windows.net" />
    <access origin="https://peeriodev.blob.core.windows.net" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarBackgroundColor" value="#233445" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="hdpi" src="res/screen/android/drawable-hdpi/splash.9.png" />
        <splash density="ldpi" src="res/screen/android/drawable-ldpi/splash.9.png" />
        <splash density="mdpi" src="res/screen/android/drawable-mdpi/splash.9.png" />
        <splash density="xhdpi" src="res/screen/android/drawable-xhdpi/splash.9.png" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <preference name="LoadUrlTimeoutValue" value="60000" />
        <preference name="SplashScreenDelay" value="2000" />
        <preference name="FadeSplashScreen" value="false" />
        <preference name="KeepRunning" value="true" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidExtraFilesystems" value="files,documents,cache,cache-external,root" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="android-minSdkVersion" value="16" />
        <preference name="android-targetSdkVersion" value="23" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash height="480" src="res/screen/ios/Default~iphone.png" width="320" />
        <splash height="960" src="res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242" />
        <splash height="1242" src="res/screen/ios/Default-Landscape-736h.png" width="2208" />
        <preference name="FadeSplashScreen" value="false" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50@2x.png" width="100" />
        <preference name="iosPersistentFileLocation" value="Library" />
        <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
        <preference name="BackupWebStorage" value="none" />
        <preference name="KeyboardDisplayRequiresUserAction" value="false" />
        <preference name="PaginationMode" value="unpaginated" />
        <preference name="UIWebViewDecelerationSpeed" value="fast" />
        <preference name="CameraUsesGeolocation" value="false" />
    </platform>
    <engine name="ios" spec="~3.9.2" />
    <engine name="android" spec="~5.0.0" />
    <plugin name="cordova-plugin-keyboard" spec="~1.1.3" />
    <plugin name="cordova-plugin-chrome-apps-system-cpu" spec="~1" />
    <plugin name="cordova-plugin-appversion" spec="~1" />
    <plugin name="cordova-plugin-device" spec="~1" />
    <plugin name="cordova-plugin-splashscreen" spec="*" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1" />
    <plugin name="cordova-plugin-statusbar" spec="~2" />
    <plugin name="cordova-plugin-contacts" spec="~2" />
    <plugin name="com.peerio.cordova.plugin.camera" spec="https://github.com/PeerioTechnologies/peerio-cordova-camera" />
    <plugin name="cordova-plugin-whitelist" spec="*" />
    <plugin name="cordova-plugin-email" spec="~1" />
    <plugin name="br.com.dtmtec.plugins.carrier" spec="https://github.com/dtmtec/cordova-plugin-carrier" />
    <plugin name="cordova-plugin-globalization" spec="*" />
    <plugin name="com.peerio.cordova.plugin.privacyscreen" spec="https://github.com/PeerioTechnologies/peerio-privacy-screen" />
    <plugin name="com.verso.cordova.clipboard" spec="https://github.com/VersoSolutions/CordovaClipboard" />
    <plugin name="com.peerio.cordova.plugin.sqlcipher" spec="https://github.com/PeerioTechnologies/peerio-cordova-sqlcipher" />
    <plugin name="phonegap-plugin-push" spec="~1" />
    <plugin name="com.peerio.cordova.plugin.touchid" spec="https://github.com/PeerioTechnologies/peerio-keychain-touchid" />
    <plugin name="com.peerio.cordova.plugin.social" spec="https://github.com/PeerioTechnologies/peerio-cordova-social" />
    <plugin name="com.peerio.cordova.plugin.file" spec="https://github.com/PeerioTechnologies/peerio-cordova-file" />
    <plugin name="com.peerio.cordova.open" spec="https://github.com/PeerioTechnologies/peerio-cordova-open" />
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
    <plugin name="cordova-plugin-insomnia" spec="~4.0.1" />
    <plugin name="com.peerio.cordova.plugin.wkwebview" spec="https://github.com/PeerioTechnologies/peerio-cordova-wkwebview">
        <variable name="WKWEBVIEW_SERVER_PORT" value="53741" />
    </plugin>
</widget>
