<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.peerio" version="0.5.2">
    <name>Peerio</name>
    <description>
        Secure message and file sharing for everyone. Work anywhere with our cloud. Keep your data safe with end-to-end
        encryption.
    </description>
    <author email="peerio@peerio.com" href="https://peerio.com">
        Technologies Peerio Inc.
    </author>

    <content src="index.html"/>
    <icon src="res/icon.png"/>


    <access origin="https://*.peerio.com"/>
    <access origin="https://peerio.com"/>
    <access origin="https://peerio.blob.core.windows.net"/>

    <allow-intent href="*"/>

    <preference name="Orientation" value="portrait"/>
    <preference name="Fullscreen" value="false"/>
    <preference name="DisallowOverscroll" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <!-- shared statusBarPlugin settings -->
    <preference name="StatusBarBackgroundColor" value="#233445" />

    <!-- Cordova plugins -->
    <plugin name="cordova-plugin-file" spec="2.x"/>
    <plugin name="cordova-plugin-whitelist" spec="1.x"/>
    <plugin name="cordova-plugin-appversion" spec="1.x"/>
    <plugin name="cordova-plugin-crosswalk-webview" spec="1.x"/>
    <plugin name="cordova-plugin-device" spec="1.x"/>
    <plugin name="cordova-plugin-file-transfer" spec="1.x"/>
    <plugin name="cordova-plugin-splashscreen" spec="2.x"/>
    <plugin name="cordova-plugin-sqlite" spec="0.x"/>
    <plugin name="cordova-plugin-statusbar" spec="1.x"/>
    <plugin name="com.ionic.keyboard" spec="1.x"/>
    <plugin name="com.disusered.open" spec="1.x"/>
    <!-- Cordova plugin installer will target  this xwalk major version -->
    <preference name="xwalkVersion" value="12"/>

    <!-- ANDROID-SPECIFIC CONFIG-->
    <platform name="android">
        <allow-intent href="market:*"/>
        <!-- SPLASH SCREENS -->
        <splash density="land-hdpi" src="res/screen/android/splash-land-hdpi.png"/>
        <splash density="land-ldpi" src="res/screen/android/splash-land-ldpi.png"/>
        <splash density="land-mdpi" src="res/screen/android/splash-land-mdpi.png"/>
        <splash density="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png"/>
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
        <!-- ICONS -->
        <icon density="ldpi" src="res/icon/android/ldpi.png"/>
        <icon density="mdpi" src="res/icon/android/mdpi.png"/>
        <icon density="hdpi" src="res/icon/android/hdpi.png"/>
        <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>

        <!-- When loading a page, the amount of time to wait before throwing a timeout error. -->
        <preference name="LoadUrlTimeoutValue" value="60000"/>
        <!-- Amount of time splash screen is displayed -->
        <preference name="SplashScreenDelay" value="2000"/>
        <!-- When sent to background, app execution will halt. Setting this to 'true' might violate Play store policy -->
        <preference name="KeepRunning" value="false"/>
        <preference name="AndroidPersistentFileLocation" value="Internal"/>
        <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root"/>
        <preference name="AndroidLaunchMode" value="singleTop"/>
        <preference name="android-minSdkVersion" value="15"/>


    </platform>

    <!-- IOS-SPECIFIC CONFIG-->
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        <!-- SPLASH SCREENS -->
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-568h@2x.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
        <!-- ICONS -->
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/icon/ios/icon.png" width="57" height="57" />
        <icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icon/ios/icon-small.png" width="29" height="29" />
        <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/icon/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100" />

        <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root"/>
        <preference name="BackupWebStorage" value="none"/>
        <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
        <preference name="PaginationMode" value="unpaginated"/>
        <preference name="UIWebViewDecelerationSpeed" value="fast" />
        <!-- statusBarPlugin settings -->
        <preference name="StatusBarStyle" value="lightcontent"/>
        <preference name="StatusBarOverlaysWebView" value="false"/>

    </platform>


</widget>
