.copy,
.coupon {
  font-weight: 400;
  opacity: 0;
  overflow: hidden;
  transition: $speed-normal;
  white-space: nowrap;
  width: 0;

  &.show {
    margin-left: #{$margin-small*3};
    opacity: 1;
    width: 100%;
  }
}
