#connection-status{
  position:absolute;
  bottom:-7px;
  left:0;
  right:0;
  height:15px;
  background-color: #f00;
  font-size: 10px;
  text-align: center;
  overflow: hidden;
  animation: connecting 2s ease 0s infinite alternate;
  transition: all 0.2s linear;
  &.connected{
    height:2px;
    bottom: 0;
    background-color: color(p-green);
    animation: none;
  }
  &.loading{
    height:2px;
    bottom: 0;
    background-size: 200% !important; // without !important does not apply, looks like a bug
    background: linear-gradient(to right, rgba(57,150,53,1) 20%, rgba(201,222,150,1)  50%, rgba(57,150,53,1) 80%);
    animation: loading 1.5s linear 0s infinite reverse;
  }
}
