/*doc
---
title: Conversation Style
name: conversation
category: Components
---

```html_example
<div class='conversation' style="margin-top:0;padding-bottom:0;">
  <div class="item">
    <div class="timestamp">Today</div>
    <div class="head"><div class="avatar"></div>username</div>
    <div class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
  </div>
  <div class="item self">
    <div class="head">current user</div>
    <div class="body">Duis aute irure dolor in reprehenderit in voluptate velitdatat proident.</div>
  </div>
</div>
```

*/

$edge-distance: 0;
$msg-distance: 16px;
$big-side-distance: 34px;
$avatar-size: 29px;

.conversation {
  margin-top: 36px;
  bottom: 64px !important;
  color: color(p-blue-darker);
  user-select: initial;
  border-bottom: $border-dark;

  .item {
    width: 100%;
    padding: 0 $padding-base 0 $edge-distance;
    margin-bottom: $margin-base;

    padding-left: $avatar-size + $padding-base;
    position: relative;

    .headline-divider{
      position: absolute;
      left: 0;
    }
    .headline-divider + .head{
      margin-top: 2rem;
    }
    .avatar{
      width: $avatar-size;
      height: $avatar-size;
      position: absolute;
      left: -($avatar-size+3px);
      top:0;
    }
    .head {
      height: 22px;
      //padding: 4px 7px 3px 15px;
      padding: 4px $padding-small;
      background-color: color(message-other-bg);
      position: relative;
      font-variant: small-caps;
      text-transform: uppercase;
      font-size: 85%;
      font-weight: 600;
      border-top-right-radius: $radius-default;
    }
    .names{
      font-size:0.8em;
    }
    .body {
      text-align: left;
      overflow-x: auto;
      padding: 0 $padding-small $padding-small;
      background-color: color(message-other-bg);
      border-bottom-right-radius: $radius-default;
      white-space: pre-wrap;
      word-wrap: break-word;
      //box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.2);
    }
    .file-list{
      font-size: .8em;
      color: color(meta-text-light);
      margin-bottom: 5px;
      .file-list-item{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: color(meta-text-dark);
        padding: $padding-small;
        background-color: color(message-other-bg-file);;

        margin-top: 3px;
        margin-left: -5px;
        margin-right: -5px;
      }
    }

    .receipts {
      color: color(meta-text-light);
      font-size: 70%;
      text-align: right;
      margin-top: 2px;
      padding-right: 4px;
      .receipt {
        margin-left: 3px;
      }
    }

    &.ack {
      .head {
        padding-left: 50px;
        border-radius: $radius-right;
      }
      &.self {
        .head {
          border-radius: $radius-left;
          padding-left: 50px;
        }
        .ack-icon {
          color: color(p-blue-light-20);
        }
      }
    }
    .ack-icon {
      font-size: 182%;
      border-radius: 100px;
      display: block;
      padding: 6px;
      position: absolute;
      left: 15px;
      top: -7px;
      background-color: $white-100;
    }

    &.self {
      .head {
        background-color:   color(message-self-bg);
        border-radius: $radius-default 0 0 0;

      }
      .body {
        background-color: color(message-self-bg);
        border-radius: 0 0 0 $radius-default;;
        .message-link{
          color: color(p-blue-light-15);
        }
        //right arrow
        &:after {
          display: block;
          content: " ";
          width: 0;
          height: 0;
          border-top: 8px solid rgba(0, 0, 0, 0);
          border-bottom: 8px solid rgba(0, 0, 0, 0);
          border-left: 8px solid  color(message-self-bg);
          position: absolute;
          right: 8px;
          bottom: 20px;
        }
      }
      .file-list {

        .file-list-item {
          background-color: color(message-self-bg-file);
        }
      }
    }
  }
}

#conversation-head {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: $navbar-height;
  z-index: $z-tabbar;
  height: 36px;
  color: $white-100;
  line-height: 36px;

  i {
    color: $white-100;
  }

  .conversation-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #345;
    height: 36px;
    padding: 0 $padding-base;

  }
  .subject {
    @extend .text-overflow;

    margin-right: $margin-base;
  }
  .counter {
    @extend .flex-row;

    margin: 0 $margin-small 0 auto;
    white-space: nowrap;

    i {
      margin-right: $margin-small;
    }
  }

  .info {
    height: 36px;
    width: 36px;
    text-align: right;
  }

  .participants {
    transition: all 500ms ease;
    transform: translateY(-100%);
    max-height: 200px;
    width: 100%;
    overflow: auto;
    background-color: color(p-blue-darker);
    margin-top: 30px;
    padding: 4px $padding-base;
    &.open {
      transform: translateY(0%);
    }
    .avatar {
      margin: 0 $margin-base 0 0;
    }
    .former-participant{
      color: color(meta-text-light);
      text-decoration: line-through;
    }
  }
}


#reply {
  position: absolute;
  display: flex;
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  width: 100%;
  z-index: #{$z-tabbar + 1};
  background-color: #f9f9f9;
}

#reply-overlay {
  position: absolute;
  display: flex;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  background-color: #3f3f3f;
  opacity: 0.6;
}

.reply-ack, .reply-attach, .reply-send {
  display: block;
  position: relative;
  width: 40px;
  font-size: 22px;
  flex: 0 0 auto;
  align-self: center;
  text-align: center;
}
// reply acknowledge
.reply-ack, .reply-send{
  i{
    background-color: color(p-blue-light-10);
    border-radius: 50%;
    height: 20px;
    width:20px;
    color: $white-100;
    padding: 4px;
    box-sizing: content-box;
    font-size: 20px;
  }

}
.reply-send i {
  background: color(p-green);
}
.reply-input {
  min-height: 48px;
  max-height: 150px;
  flex: 1 1 auto;
  overflow: scroll;
  border: 0;
  margin: $margin-small 0;
  padding: 0 $padding-small;
  align-self: center;
  user-select: initial;
  resize: none;
  background: rgba(0, 0, 0, 0);

  &:focus{
    outline: none;
  }
}


.attached-files {
  position: absolute;
  top: -40px;
  height: 40px;
  padding: $padding-small $padding-base;
  margin: 0;
  overflow-x: scroll;
  white-space: nowrap;

  .attached-file {
    @extend .flex-row;
    @extend .flex-justify-center;

    background-color: #ccc;
    color: $black-54;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    height: 24px;
    width: auto;
    display: inline-flex;

    i {
      color: $white-70;
      font-size: 18px;
      transition: $speed-normal;
      margin-left: $margin-small;

      &:hover {
        color: $white-100;
      }
    }
  }
}
