#footer{
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  height: $footer-height;
  color: white;
  background-color: color(p-blue-darker);
  font-size: 13px;
  z-index: $z-tabbar;
}
