#footer{
  position: absolute;
  display: table;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  height: $footer-height;
  color: white;
  background-color: color(p-blue-darker);
  font-size: 13px;;
  z-index: $z-tabbar;
}

.toolbar-fill{
  display:table-cell;
  width:100%;
}