/*doc
---
title: Input Groups
name: input_groups
category: Components
---

An input group is a combination of an input and a label. Both `input` and `.input-label` are base styles,
however when placed inside a `.input-group` their behaviour is modified.

The **pop-up label** effect can be achieved with pure css by adding a 'required' attribute to the corresponding input,
however this could have adverse effects in some cases, so it can also be acheived by added the `.up` class to the label
with javascript. This effect only exists when both `input` and `label` are inside a `.input-group`.

A row of inputs or selects should be wrapped in `.flex-row`.
**needs further testing**

```html_example
<div class="input-group">
  <input type="text" required id="input" />
  <label for="input">Text Input Group Label</label>
</div>
<div class="input-group">
  <label for="input-2">Select Input Group Label</label>
  <select class="select-input" required id="input-2">
    <option>Select Option</option>
  </select>
</div>

```

*/

// TODO update docs

.input-group {
  position: relative;
  // TODO: fix this.
  // Some input groups grow into a list. Rework how these items build or rework how the styling works.
  // ex. Addresses field in Profile
  min-height: 72px;
  padding: $padding-base 0 $padding-small;
  margin: 0 $margin-base;
}
// this is when you have a row of inputs
.flex-row {
  .input-group {
    margin: 0 #{$margin-small/2};
    &:first-child {
      margin-left: $margin-base;
    }
    &:last-child {
      margin-right: $margin-base;
    }
  }
}
