/*doc
---
title: List View
name: list_view
category: Components
---

The same `.list-view` component is used across messages, file, and contact lists. The component provides places for up
to four columns of content, usually `|meta-content|main-content with description|more meta|right-arrow`. It also accommodates
a 'swipe to delete' action.

```html_example
<div class="list-view">
  <div class="list-item">
    <div class="list-item-thumb">
    <div class="icon-with-label"><i class="fa fa-paperclip attachment"></i><span class="icon-label">2</span></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">List item title</div>
      <div class="list-item-description">List item description</div>
    </div>
    <div class="list-item-content text-right">
      <span class="list-item-description">Date</span>
      <span class="list-item-description">and time</span>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="list-item unread">
    <div class="list-item-thumb">
    <div class="icon-with-label"><i class="fa fa-paperclip attachment"></i><span class="icon-label">2</span></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">List item title</div>
      <div class="list-item-description">List item description</div>
    </div>
    <div class="list-item-content text-right">
      <span class="list-item-description">Date</span>
      <span class="list-item-description">and time</span>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="list-item swiped">
    <div class="list-item-thumb">
    <div class="icon-with-label"><i class="fa fa-paperclip attachment"></i><span class="icon-label">2</span></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">List item title</div>
      <div class="list-item-description">List item description</div>
    </div>
    <div class="list-item-content text-right">
      <span class="list-item-description">Date</span>
      <span class="list-item-description">and time</span>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div class="list-item-swipe-content">
      <i class="fa fa-trash-o"></i>
    </div>
  </div>

  <div class="list-item">
    <div class="list-item-thumb">
      <i class="list-item-thumb file-type fa fa-file-image-o"></i>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">filename.jpg</div>
      <div class="list-item-description">file size and date created</div>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="list-item">
    <div class="list-item-thumb">
      <div class="avatar"></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">User's First and Last Name</div>
      <div class="list-item-description">username</div>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

</div>
```

*/

$list-item-height: 70px;

.list-view {
  transform: translate3d(0,0,0);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  .list-item {
    transform: translate3d(0,0,0);
    //transition: all 1s linear;
    min-height: $list-item-height;
    max-height: $list-item-height;
    display: flex;
    padding-left: 0px;
    padding-right: 5px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid darken(color(list-item-bg), 10%);
    background-color: color(list-item-bg);
    position: relative;
    transition: transform 0.3s ease-out, background-color 0.1s ease-in;
    &.unread {
      background-color: #fff;
      border-left: 5px solid color(p-green);
    }
    &.swiped {
      transform: translateX(-50px);
    }
    &.on-touchstart {
     // background-color: darken(color(list-item-bg), 5%);
    }
    .list-item-content {
      flex-grow: 1;
      overflow: hidden;
      .list-item-title {
        font-size: 0.95rem;
        font-weight: 600;
        margin-bottom: 0.2em;
        // margin-left: 4px;
        @include ellipses();
      }
      .list-item-sup{
        opacity: 1;
        text-transform: uppercase;
        font-size: 0.6rem;
        font-weight: 400;
      }

      .list-item-description {
        font-size: 0.8rem;
        font-weight: 400;
        opacity: 0.6;
        @include ellipses();
      }
    }
    .list-item-content.text-right {
      min-width: 50px;
      align-self: center;
    }
    .list-item-thumb {
      max-width: 40px;
      min-width: 24px;
      padding: 0 5px;
      flex: 0 0 auto;
      text-align: center;
      align-self: center;
      .avatar {
        height: 29px;
        width: 29px;
        line-height: 8px;
        font-size: 16px;
      }
    }

    .list-item-forward {
      flex: 0 0 20px;
      text-align: center;
      align-self: center;
      padding-left: 8px;
      .fa-chevron-right {
        opacity: 0.4;
      }
    }

    .list-item-swipe-content {
      position: absolute;
      top: 0;
      left: 100%;
      background-color: color(list-item-delete-bg);
      width: 50px;
      z-index: -1;
      height: 100%;
      color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      overflow: hidden;
    }

    .download {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: $list-item-height;
      background-color: rgba(255, 255, 255, 0.9);
      color: color(p-blue-dark-15);
    }

  }
}

.list-item-swipe-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.file-type.fa {
  font-size: 24px;
  opacity: 0.8;
}

.compact-list-view {
  @extend .list-view;
  .list-item {
    min-height: $list-item-height / 2;
    max-height: $list-item-height;
    .list-item-content {
      .list-item-title {
        font-weight: normal;
      }
    }

    .list-item-thumb {
      text-align: left;
    }

  }

}

.flexible-list-view {
  @extend .list-view;
  overflow: visible;
  .list-item {
    max-height: none;
    min-height: 0;
    overflow: visible;
  }
}

.nested-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  .list-item {
    padding: 0 0 0.2em 0;
    border-bottom: 1px solid white;
  }
  .list-item:last-child {
    border-bottom: 1px solid transparent;
  }
}

.list-item-title + .list-item-description > .nested-list {
  padding-left: 1.5em;
}

//animation when deleting a conversations from list view.
.list-item.swiped.list-item-animation-leave {
  animation-name: slideDelete;
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;

  .list-item-swipe-content {
    transition: width 300ms ease-out;
    width: 100%;
  }
}

.vscroll .loader-item {
    text-align: center;
    min-height: 70px;
}

.vscroll .loader-item .fa-spin {
    margin: auto;
    color: #278FDA;
}

.vscroll, .vscroll > * {
    transform: translate3d(0,0,0);
}
