// this style sheet might belong elsewhere. all need to evalutate class naming. - paul

.pin-pad {
  @extend .flex-col;
  @extend .flex-justify-center;

  top: 0;
  position: fixed;
  background: color(p-blue-light-5);
  z-index: 1;
  padding: $padding-base;

  #footer {
    @extend .flex-justify-between;
    background: transparent;
  }
}

.pin-code {
  @extend  .flex-justify-center;
  @extend  .flex-row;
  @extend  .flex-justify-center;

  height: 32px;
  margin: $margin-small;
}

.pin-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $white-30;
  margin: 8px;
  transition: background $speed-slow;

  &.active {
    background: $white-100;
  }
}

.number-key,
.pin-pad-key {
  height: 72px;
  width: 72px;

  text-align: center;
  margin: $margin-small;

  display: flex;
  align-items: center;
  justify-content: center;
}

.number-key {
  @include round-ripple;

  border: $border-light;
  border-radius: $radius-circle;
  font-size: 22px;
}

.shake {
  animation: shake 0.82s cubic-bezier(.26, .59, .83, .5) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
