// this style sheet might belong elsewhere. all need to evalutate class naming. - paul

.pin-pad {
  @extend .flex-col;

  top: 0;
  position: fixed;
  background: color(p-blue-light-5);
  z-index: 1;
  padding: $padding-base;
}

.pin-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $white-30;
  margin: 8px;

  &.active {
    background: $white-100;
  }
}

.number-key,
.pin-pad-key {
  min-height: 72px;
  min-width: 72px;

  text-align: center;
  margin: $margin-small;

  display: flex;
  align-items: center;
  justify-content: center;
}

.number-key {
  border: $border-light;
  border-radius: $radius-circle;
  font-size: 22px;
}
