// TODO: refactor add and attach buttons - paul
$recipients-height: 40px;

#new-message {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .recipients {
    display: flex;
    min-height: $recipients-height;
    align-items: center;
    padding-right: 0;
    max-height: 96px;
    overflow: hidden;

    .names {
      flex-grow: 1;
      max-height: 96px;
      overflow: hidden;
      overflow-y: scroll;
    }

    .add-btn {
      min-width: 48px;
      min-height: $recipients-height;
      background-color: #eee;
      color: color(meta-text-dark);
      display: flex;
      position: relative;
      align-items: center;
      text-align: center;
      justify-content: center;
      align-self: inherit;
    }
  }

  .name-selected {
    font-size: .9em;
    background-color: color(p-blue-light-10);
    color: $white-100;
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
    margin: 2px;
    word-break: break-all;
  }

  .subject-inputs {
    display: flex;
    min-height: $recipients-height;
    border-bottom: $border-dark;
  }


  .to {
    min-width: 30px;
    text-align: center;
  }

  .attach-btn {
    position: relative;
    min-width: 48px;
    border-top: $border-dark;
    background-color: color(list-item-bg);
    color: color(meta-text-dark);
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: $recipients-height;
  }

  .subject {
    border-top: $border-dark;
    border-bottom: 0;
    -webkit-appearance: none; // removes weird inner shadow on ios
    padding: 0 $padding-small;
    height: 40px;
    text-overflow: ellipsis;

    &:focus {
      background-color: lighten(color(list-item-bg), 5%);
    }
  }

  .message {
    resize: none;
    top: 80px;
    bottom: 0;
    padding: $padding-small;
    border: 0;
    flex-grow: 1;

    &:focus {
      background-color: lighten(color(list-item-bg), 5%);
    }
  }

}

.icon-counter {
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: $radius-circle;
  background-color: $white-100;
  text-align: center;
  line-height: 16px;
  position: absolute;
  bottom: 4px;
  right: 4px;
}
