/*doc
---
title: File / Contact Selector
name: selectors
category: Components
---

Contact / File selector is silimar to the list view but with simpler markup and the option to highlight a selected
item with the `.selected` class. Selector also has special styles for positioning buttons below the list.

```html_example
<div class="contact-select-container" style="height: 180px;position:relative;margin-bottom:160px;">
<ul class="contact-select">
  <li class="contact">
    <span type="checkbox" class="checkbox-input"></span>
    <div class="avatar"></div> Test User 1
  </li>
  <li class="contact">
    <span type="checkbox" checked="checked" class="checkbox-input checked"></span>
    <div class="avatar"></div> Test User 2
  </li>
  <li class="contact selected">
    <span type="checkbox" checked="checked" class="checkbox-input checked"></span>
    <div class="avatar"></div> Test User 3
  </li>
  <li class="contact selected">
    <span type="checkbox" checked="checked" class="checkbox-input checked"></span>
    <div class="avatar"></div> Test User 3
  </li>
</ul>
  <div class="buttons col-12">
    <div class="btn-lrg btn-safe ">OK</div>
    <div class="btn-lrg btn-dark">cancel</div>
  </div>
</div>
```

*/

$buttons-height:120px;

.contact-select-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contact-select {
  z-index: 600;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 10px;
  background-color: $white-100;
  ul {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: $buttons-height;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $padding-small;
    // height: $buttons-height;
    background-color: #eee; // TODO create more colors for palatte
  }
  .contact {
    padding: 10px;
    font-size: 1rem;
/*  are you sure we need that many borders?
    border-bottom: 1px solid darken(color(list-item-bg), 5%); */
    position: relative;
/*  and backgrounds?
    background-color: color(list-item-bg); */
    .checkbox-input{
      margin-right: 10px;
    }
    .avatar{
      margin-right: 4px;
    }
  }
  .contact.selected{
    background-color: color(p-blue-light-20);
    color: $white-100;
    .checkbox-input{
      display: inline-block;
    }
    .checkbox-input:after{
      background-color: color(p-blue-light-20);
    }
    .username{
      color: $white-100;
    }
  }
  .username {
    color: color(meta-text-dark);
    font-size: 90%;
    margin-left: 5px;
  }
}

.contact-select.file-select {
  width: auto;
  height: auto;
  position: fixed;
  top: $navbar-height;
  bottom: $footer-height;
  left: 0;
  right: 0;
  z-index: ($z-tabbar+1);
  .contact {
    i {
      top: 10px;
    }
  }
}
