/*doc
---
title: Sidebar
name: sidebar
category: Components
---

The sidebar is a view with a dark background and white text that has an `.open` and closed state.
Most elements inside the sidebar are base styles, and are not styled inside the `.sidebar` component.

Click the sidebar in the example to toggle the `.open` state.

```html_example
<div style="height:150px;">
<div class="sidebar open" onClick="$(this).toggleClass('open');">
  <div class="sidebar-header">
    <span class="headline">Headline in sidebar</span>
  </div>
  <span class="subhead">subhead in sidebar</span>
  <span class="icon-with-label flex-col-1">
    <i class="fa fa-pencil circle"></i>
    <span class="icon-label">Icons in sidebar</span>
  </span>
</div>
<div id="sidebar-dimmer" class="open"></div>
</div>
```

*/
.sidebar {
  position: absolute;
  z-index: $z-sidebar;
  transition: transform .3s cubic-bezier(.43,.01,.49,.95);
  transform: translateX(-101%);
  width: 80%;
  top: $navbar-height;
  bottom: 0;
  background-color: color(sidebar-bg-color);
  padding: 20px 10px;
  color: white;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  .sidebar-header{
    @media screen and ( max-height: 480px ){
      width: 150px;
      text-align: left;
      margin: 0 auto;
      .avatar{
        float: left;
        margin-right: 10px;
      }
    }
  }
  .app-version{
    position: static;
    font-size: 70%;
    color: white;
    opacity: 0.5;
  }
  display: flex;
  flex-direction: column;
  .flex-1{
    flex-grow: 1;
  }
  .flex-0{
    flex-grow: 0;
  }
  .avatar{
    margin-bottom: 0.5rem;
  }

  &.open {
    transform: translateX(0);
    transition-duration: .7s;
  }
  .fa-mobile {
    // this was a hack placed before me by an unknown author
    // to make sure the mobile icon is visible
    // @seavan
    font-size: 1.5em;
    // this is a hack I place here in my right mind
    // to make sure that "Enable two factor auth" looks consistent
    // with remove pin code
    // @seavan
    margin-right: 0.35em;
  }
  .sidebar-footer-text{
    margin-top: 1rem;
    .feedback{
      float: right;
      font-size: 70%;
      opacity: 0.8;
      text-decoration: underline;
      color: white;
    }
  }

  ul{
    list-style: none;
    padding:0 1em;
    margin: 0.5em 0 0 0;
    li {
      margin-bottom: 0.7em;
      font-weight: 100;
    }
  }
}
// dark semi-transulent div under sidemenu
// it dims the content part that is not covered by sidemenu
#sidebar-dimmer{
  position: absolute;
  top:$navbar-height;
  // hiding it with left position because this way we will have an opacity transition on showing
  // and fast hide on sidebar closing
  left:-150%;
  bottom:0;
  right: 0;
  width: 100%;
  z-index: ($z-sidebar - 1);
  background-color: #000;
  transition: none;
  opacity: 0;
  &.open {
    left:0;
    background-color: #000;
    transition: opacity 200ms 500ms linear;
    opacity: 0.4;
  }
}
