/*doc
---
title: Sidebar
name: sidebar
category: Components
---

The sidebar is a view with a dark background and white text that has an `.open` and closed state.
Most elements inside the sidebar are base styles, and are not styled inside the `.sidebar` component.

Click the sidebar in the example to toggle the `.open` state.

```html_example
<div style="height:150px;">
<div class="sidebar open" onClick="$(this).toggleClass('open');">
  <div class="sidebar-header">
    <span class="headline">Headline in sidebar</span>
  </div>
  <span class="subhead">subhead in sidebar</span>
  <span class="icon-with-label flex-col-1">
    <i class="fa fa-pencil circle"></i>
    <span class="icon-label">Icons in sidebar</span>
  </span>
</div>
<div id="sidebar-dimmer" class="open"></div>
</div>
```

*/
.sidebar {
  position: absolute;
  z-index: $z-sidebar;
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translate3d(-101%, 0, 0);
  width: 80%;
  top: $navbar-height;
  bottom: 0;
  background-color: color(sidebar-bg-color);
  color: white;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .sidebar-header,
  .sidebar-menu,
  .app-version {
    padding: 0 $padding-base;
  }

  .sidebar-header{
    margin: 0px;
    height: 104px;
    background: #333;

    justify-content: center;

    .info-label {
      text-transform: capitalize;
      color: rgba(255,255,255,0.7);
      font-weight: 300;
    }

    .headline-md,
    .subhead-inline {
      @include ellipses;
    }

    @media screen and ( max-height: 480px ){
      width: 150px;
      text-align: left;
      margin: 0 auto;
      .avatar{
        float: left;
        margin-right: 10px;
      }
    }

    .storage-info {
      font-size: 14px;
      margin-top: $margin-small;
      margin-left: 58px;
    }
  }

  .subhead {
    border: none;
    height: 48px;
    line-height: 48px;
    text-transform: capitalize;
    margin: 0;
  }

  .app-version{
    position: static;
    margin-bottom: $margin-small;
  }

  .avatar{
    margin-right: $margin-base;
    flex-shrink: 0;
  }

  &.open {
    transform: translate3d(0, 0, 0);
    transition-duration: $speed-normal
  }
  .fa-mobile {
    // this was a hack placed before me by an unknown author
    // to make sure the mobile icon is visible
    // @seavan
    font-size: 1.5em;
  }

  // .sidebar-footer-text{
  //   margin-top: $margin-small;
  //   .feedback{
  //     float: right;
  //     font-size: 70%;
  //     opacity: 0.8;
  //     text-decoration: underline;
  //     color: white;
  //   }
  // }
  .sidebar-menu {
      overflow-y: auto;
  }

  ul{
    list-style: none;
    padding:0;
    margin:0 0 $margin-small;

    &:not(:last-of-type) {
      border-bottom: $border-light;
    }
    li {
      height: 48px;
      line-height: 48px;
      font-weight: 100;

      i.fa {
        margin-right: $margin-base;
        width: 24px;
        text-align: center;
      }
    }
  }

  .sign-out {
    margin: 0 $margin-small;
  }
}
// dark semi-transulent div under sidemenu
// it dims the content part that is not covered by sidemenu
#sidebar-dimmer{
  position: absolute;
  top:$navbar-height;
  // hiding it with left position because this way we will have an opacity transition on showing
  // and fast hide on sidebar closing
  left:-150%;
  bottom:0;
  right: 0;
  width: 100%;
  z-index: #{$z-sidebar - 1};
  background-color: #000;
  transition: none;
  opacity: 0;
  &.open {
    left:0;
    background-color: #000;
    transition: opacity 200ms ease;
    opacity: 0.4;
  }
}
