.sync {
  background-color: color(p-blue);
  color: $white-100;
  z-index: 10;

  position: absolute;
  top: 0;

}

.sync-title {
  margin-bottom: #{$margin-base * 2};
}

.sync-info-icon {
  color: $white-70;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  font-size: 48px;
  margin-right: $margin-base;
}

.sync-info {
  padding: $padding-base $padding-base 20px;
  background-color: color(p-blue-dark-10);
  display: flex;

}

.sync-progress-caption {
  width: 100%;
  text-align: center;
  margin: #{$margin-base * 2} 0 $margin-small;
}

.sync-progress {
  width: 100%;
  height: 32px;
  background-color: color(p-blue-dark-5);
  margin-bottom: #{$margin-base * 4};
  animation: progress-bg-animation 2s cubic-bezier(0, 0.64, 0.32, 0.9) infinite;
}

.sync-progress-bar {
  //transition: width 0.5s ease;
  height: 100%;
  background-image: linear-gradient(135deg, color(p-blue-light-20) 25%, color(p-blue-light-10) 25%,
          color(p-blue-light-10) 50%, color(p-blue-light-20) 50%,
          color(p-blue-light-20) 75%, color(p-blue-light-10) 75%,
          color(p-blue-light-10) 100%);
  animation: progress-animation 3s linear infinite;
  background-size: 32px 32px;
}

@keyframes progress-animation {
  from {
    background-position: 0;
  }
  to {
    background-position: 64px;
  }
}
@keyframes progress-bg-animation {
  0% {
    background-color: color(p-blue-dark-5);
  }
  50% {
    background-color: color(p-blue);
  }
  100%{
    background-color: color(p-blue-dark-5);
  }
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .25s ease-in;
}

.fade-leave {
//  visibility: hidden;
//  height: 0px;
//  width: 0px;

  opacity: 1.0;
}
.fade-leave.fade-leave-active {
  opacity: 0;
}
