/*doc
---
title: Tab Navigation
name: tabs
category: Components
---

Secondary navigation bar with tab selectors (messages, files, contacts). Tabs can include an icon and notification
badge.

```html_example
<div style="position:relative;height:50px;top:-40px">
  <div id="tabbar">
    <div class="tab"><i class="tab-icon fa fa-comments-o"></i>messages</div>
    <div class="tab active"><i class="tab-icon fa fa-files-o"></i>files</div>
    <div class="tab"><i class="tab-icon fa fa-users"></i>contacts<i class="fa fa-circle badge"></i></div>
  </div>
</div>
```

*/

#tabbar {
  position: absolute;
  display: flex;
  top: $navbar-height;
  left: 0;
  right: 0;
  width: 100%;
  height: $tabbar-height;
  color: #fff;
  background-color: color(p-blue-light-5);
  font-size: 11px;
  z-index: $z-tabbar;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  .tab {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    &.active {
      color: #fff;
      background-color: color(p-blue-light-15);
      // active tab indicator "down arrow"
      &:after {
        content: " ";
        bottom: -18px;
        left: 50%;
        border: solid rgba(0, 0, 0, 0);
        height: 0;
        width: 0;
        position: absolute;
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color:color(p-blue-light-15);
        border-width: 10px;
        transform: scale(1, 0.8) translate(-50%, 0%) rotate(180deg);
      }
    }
    .tab-icon {
      margin-right: $margin-small;
    }
    .badge {
      position: relative;
      left: 6px;
      color: color(p-green-light-10);
      font-size: 8px;
    }
  }
}
