//   Shared/universal rules
 //  Note: list tags are found in _list_view.scss

html {
  // Root font size. All other font sizes should be in rem units
  box-sizing: border-box;
  font-size: 15px;
  user-select: none;

  * {
    -webkit-margin-collapse: separate;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; // For some Androids

  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: inherit;
}

body {
  background-color: color(p-blue-darker);
  color: $black-87;
  font-family: OpenSans, sans-serif;
  font-weight: 300;

  &.ios {
    //margin-top: 20px;
    // fixes modal twitch
    // TODO: consider layout refactor. The twitch doesn't seem like it should exist to begin with. - paul
    overflow-x: hidden;
  }
}

label {
  font-size: 12px;
}

input,
select {
  background: transparent;
  border: 0;
  border-bottom: $border-dark;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  width: 100%;

  &:focus {
    border-bottom: 1px solid color(p-blue);
  }
}

select {
  -webkit-appearance: none;
  border-radius: 0;
}

// HACK: placeholder not disappearing on focus in textarea
input:focus::-webkit-input-placeholder {
  color: transparent;
}

// except inputs, they can be text-selected
input,
textarea {
  border-radius: 0;
  box-sizing: border-box;
  user-select: initial;
}

input {

  &[type="search"] {
    -webkit-appearance: none;
    box-sizing: border-box;
  }

  &[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[data-password="yes"] {
      -webkit-text-security: disc;
    }
  }
}
// styles placeholder content
::-webkit-input-placeholder {
  color: $black-54;
}


//  This is fine for mobile, but we don't want to carry this styling over to desktop client
//  without adding some type of styling to expose focused items for keyboard users.

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.ios-titlebar {
  background-color: color(p-blue-darker);
  height: 20px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 10000000000; // wtf?
}

button {
  background-color: color(p-blue-darker);
  border: 0;
  color: $white-100;
  font-size: 1rem;
  font-weight: 400;
  //  text-shadow: 2px 2px 3px $p-blue-dark-20;
  padding: 0;
  text-align: center;
}
// Universal link styling
a {
  color: color(p-blue);
  text-decoration: none;

  &:active {
    color: color(p-blue);
  }
}

fieldset {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}


img {
  max-width: 100%;
}

hr {
  @include clearfix();

  border: 0;
  border-bottom: $border-dark;
  box-sizing: border-box;
  clear: both;
  height: 0;
  margin: $margin-small 0 $margin-base;
  width: 100%;

}

p {
  margin-bottom: .7em;
  margin-top: .2em;
  padding: 0 $padding-base;
}

// universal components
