/*doc
---
title: Buttons
name: button
category: Base CSS
---

Button styles can be applied to any element. Buttons are full width by default,
but can be made smaller using layout styles. Button styles can also be combined.

```html_example
<div class="col-5">
  <div class="btn-md btn-danger">danger</div>
</div>
<div class="col-6">
  <div class="btn-md btn-safe">safe</div>
</div>
```

Button                                            | Button Class
------------------------------------------------- | -----------------
<div class="btn-lrg">large button</div>                  | `btn-lrg`
<div class="btn-md">medium button</div>                  | `btn-md`
<div class="btn-md btn-dark">dark button</div>           | `btn-md btn-dark`
<div class="btn-md btn-safe">safe button</div>           | `btn-md btn-safe`
<div class="btn-md btn-danger">danger button</div>       | `btn-md btn-danger`
<div class="btn-sm">small button</div>                   | `btn-sm`
<div class="btn">default button</div>                    | `btn`
<div class="btn-subtle">subtle button</div>              | `btn-subtle`


Footer Buttons                                       | Button Class/ID
---------------------------------------------------- | -----------------
<div id="global-back">Global Back Button</div>       | `#global-back`
<div class="btn-global-action">Global Action Button</div>| `.btn-global-action`
*/


@mixin button-ripple() {
  position: relative;
  &:after{
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:radial-gradient(circle, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 20%, transparent 21%);
    opacity: 1;
    background-size: 0%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &.on-touchstart:after {
    background-size: 1000%;
    transition: background-size 200ms ease-in, opacity 200ms ease-in 100ms;
    opacity: 0;
  }
}


// used for stacked full width buttons
.buttons {
  @extend .flex-col;

  position: absolute;
  left: 0;
  right: 0;
  padding: $padding-small;
}


.btn {
  @include button-ripple;
  padding: 0 $padding-small;
  display: inline-block;;
  font-size: 14px;
  text-align: center;
  margin: $margin-small;
  border-radius: $radius-default;
  color: $white-100;
  min-width: 88px;
  height: 36px;
  min-height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  cursor: pointer;

  span {
    vertical-align: top;
  }

  i:first-child {
    margin-right: $margin-small;
  }
  i:last-child {
    margin-left: $margin-small;
  }
}

.btn-primary {
  @extend .btn;
  background-color: #2795d0;
}

.btn-back {
  @extend .btn;
  @extend .flex-shrink-0;
  width: 85px;
  margin: $margin-small 0;


  i {
    font-size: 20px;
    padding: 2px;
    margin-right: $margin-small;
  }
}
// looking at the style guide, this button style doesn't offer much affordance. I would consider removing it.
// What good is a button that the user doens't know is a button?
.btn-subtle{
  @extend .btn;
}

.btn-dark{
  @extend .btn;
  background-color: rgba(0,0,0,0.4);
}

.btn-safe {
  @extend .btn;
  background-color: color(p-green);
}

.btn-danger {
  @extend .btn;
  background-color:color(danger);
}

.btn-link.btn-danger {
  background-color: transparent;
  text-decoration: underline;
  color: color(danger);
  padding: 0;
}

button:disabled , .btn-disabled {
  @extend .btn;
  color: $black-12;
  background-color: $black-12;
  cursor: default;

}

.btn-global-action,
#global-back {
  @include button-ripple;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:0 $padding-base;
  white-space: nowrap;
  color:white;
  height: 48px;
  font-size: 14px;
  text-transform: uppercase;

  i{
    margin-right: $margin-small;
  }
}

.btn-global-action {
  background-color: color(footer-btn-color);
}

//footer back button
#global-back {
  flex-grow: 0;
  justify-content: flex-start;
  padding: 0 $padding-base;
  transition: background-color 100ms ease-in;

  &.on-touchstart {
    background-color: #26384A;
  }

  &:only-child {
    flex-grow: 1;
  }
}
