/*doc
---
title: Buttons
name: button
category: Base CSS
---

Button styles can be applied to any element. Buttons are full width by default,
but can be made smaller using layout styles. Button styles can also be combined.

```html_example
<div class="col-5">
  <div class="btn-md btn-danger">danger</div>
</div>
<div class="col-6">
  <div class="btn-md btn-safe">safe</div>
</div>
```

Button                                            | Button Class
------------------------------------------------- | -----------------
<div class="btn-lrg">large button</div>                  | `btn-lrg`
<div class="btn-md">medium button</div>                  | `btn-md`
<div class="btn-md btn-dark">dark button</div>           | `btn-md btn-dark`
<div class="btn-md btn-safe">safe button</div>           | `btn-md btn-safe`
<div class="btn-md btn-danger">danger button</div>       | `btn-md btn-danger`
<div class="btn-sm">small button</div>                   | `btn-sm`
<div class="btn">default button</div>                    | `btn`
<div class="btn-subtle">subtle button</div>              | `btn-subtle`


Footer Buttons                                       | Button Class/ID
---------------------------------------------------- | -----------------

<div class="btn-global-action">Global Action Button</div>| `.btn-global-action`
*/

// TODO Refactor all of the i { color: $white-100} stuff.
@mixin button-ripple() {
  position: relative;

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .5) 20%, transparent 21%);
    opacity: 1;
    background-size: 0%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &.on-touchstart:after {
    background-size: 1000%;
    opacity: 0;
    transition: background-size $speed-normal ease-in, opacity $speed-fast ease-in 100ms;
  }
}

@mixin round-ripple() {
  @include button-ripple;

  &:after {
    border-radius: $radius-circle;
  }
}

// wrapper used for full width buttons
.buttons {
  @extend .flex-col;

  padding: $padding-small;
}


.btn {
  @include button-ripple;
  padding: 0 $padding-small;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: $margin-small;
  border-radius: $radius-default;
  color: $white-100;
  min-width: 88px;
  height: 36px;
  min-height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  cursor: pointer;

  i {
    color: currentColor;

    &:first-child {
      margin-right: $margin-small;
    }

    &:last-child {
      margin-left: $margin-small;
    }
  }

  span {
    vertical-align: top;
  }
}

.btn-primary {
  @extend .btn;
  background-color: #2795d0;
}

.btn-back {
  @extend .btn;
  @extend .flex-shrink-0;

  margin: $margin-small 0;
  width: 85px;
}

// looking at the style guide, this button style doesn't offer much affordance. I would consider removing it.
// What good is a button that the user doens't know is a button?
.btn-subtle {
  @extend .btn;
}

.btn-dark {
  @extend .btn;

  background-color: rgba(0, 0, 0, .4);
}

.btn-safe {
  @extend .btn;

  background-color: color(p-green);

  i {
    color: $white-100;
  }
}

.btn-danger {
  @extend .btn;
  background-color: color(danger);
}

.btn-icon-stacked {
  @include button-ripple;

  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  flex-direction: column;

  i {
    color: $white-100;
  }

  label {
    color: $white-70;
  }
}

.btn-link.btn-danger {
  background-color: transparent;
  text-decoration: underline;
  color: color(danger);
  padding: 0;
}

button:disabled,
.btn-disabled {
  @extend .btn;

  color: $black-12;
  background-color: $black-12;
  cursor: default;

  i {
    color: currentColor;
  }

}

.btn-global-action {
  @include button-ripple;

  background-color: color(footer-btn-color);
  font-weight: 400;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 $padding-small;
  white-space: nowrap;
  color: $white-100;
  height: 48px;
  font-size: 14px;
  text-transform: uppercase;

  i {
    margin-right: $margin-small;
    color: currentColor;
  }
}
