/*doc
---
title: Buttons
name: button
category: Base CSS
---

Button styles can be applied to any element. Buttons are full width by default,
but can be made smaller using layout styles. Button styles can also be combined.

```html_example
<div class="col-5">
  <div class="btn-md btn-danger">danger</div>
</div>
<div class="col-6">
  <div class="btn-md btn-safe">safe</div>
</div>
```

Button                                            | Button Class
------------------------------------------------- | -----------------
<div class="btn-lrg">large button</div>                  | `btn-lrg`
<div class="btn-md">medium button</div>                  | `btn-md`
<div class="btn-md btn-dark">dark button</div>           | `btn-md btn-dark`
<div class="btn-md btn-safe">safe button</div>           | `btn-md btn-safe`
<div class="btn-md btn-danger">danger button</div>       | `btn-md btn-danger`
<div class="btn-sm">small button</div>                   | `btn-sm`
<div class="btn">default button</div>                    | `btn`
<div class="btn-subtle">subtle button</div>              | `btn-subtle`


Footer Buttons                                       | Button Class/ID
---------------------------------------------------- | -----------------
<div id="global-back">Global Back Button</div>       | `#global-back`
<div class="accept-button">Global Action Button</div>| `.accept-button`
*/


@mixin button-ripple() {
  position: relative;
  &:after{
    content: " ";
    display: block;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background:radial-gradient(circle, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 20%, transparent 21%);
    opacity: 1;
    background-size: 0%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &.on-touchstart:after {
    background-size: 1000%;
    transition: background-size 0.2s ease-in, opacity 0.2s ease-in 0.1s;
    opacity: 0;
  }
}

.btn {
  @include button-ripple;
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-radius: 3px;
  color: white;
  width: 100%;
  background-color: #2795d0;
}

.btn-subtle{
  background-color: transparent;
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: inherit;
}

.btn-lrg{
  @extend .btn;
  font-size:  1.2rem;
  width: 100%;
  font-weight: 100;
}

.btn-md{
  @extend .btn;
  font-size: 1em;
  padding: 0.7em;
}

.btn-sm{
  @extend .btn;
  font-size: 0.9rem;
}

.btn-lrg-back{
  @extend .btn-lrg;
  background-color: transparent;
  opacity: 0.8;
  > .fa {
    position: relative;
    left: -5px;
  }
}

.btn-dark{
  @extend .btn;
  background-color: rgba(0,0,0,0.4);
}

.btn-safe {
  @extend .btn;
  background-color: color(p-green);
  color: white;
}

.btn-danger {
  @extend .btn;
  color: white;
  background-color:color(danger);
}

.btn-link.btn-danger {
  background-color: transparent;
  text-decoration: underline;
  color: color(danger);
  padding: 0;
}

button:disabled , .btn-disabled {
  background-color: rgba(103, 103, 103, 0.69);
  color: white;
}

//green footer button
.accept-button,
#global-back {
  @include button-ripple;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:0 8px;
  white-space: nowrap;
  color:white;
  height: 48px;

  i{
    margin-right: $small-margin;
  }
}

.accept-button {
  background-color: color(footer-btn-color);
}

//footer back button
#global-back {
  flex-grow: 0;
  justify-content: flex-start;
  text-transform:capitalize;
  transition: background-color 0.1s ease-in;
  padding: 0 $base-padding;

  &.on-touchstart {
    background-color: #26384A;
  }

  &:only-child {
    flex-grow: 1;
  }
}
