/*doc
---
title: Icons
name: Icons
category: Base CSS
---

Peerio uses fontAwesome for the majority of icon. Icons have a default font-size of 1em.
The following icons have been colorized for different filetypes.

Icon                                       | File-type  | Code
-------------------------------------------|------------|-----------
  <i class="fa fa-file-excel-o"></i>       | Excel      | `<i class="fa fa-file-excel-o"></i>`
  <i class="fa fa-file-text-o"></i>        | Text       | `<i class="fa fa-file-text-o"></i>`
  <i class="fa fa-file-pdf-o"></i>         | PDF        | `<i class="fa fa-file-pdf-o"></i>`
  <i class="fa fa-file-word-o"></i>        | MS Word    | `<i class="fa fa-file-word-o"></i>`
  <i class="fa fa-file-powerpoint-o"></i>  | Powerpoint | `<i class="fa fa-file-powerpoint-o"></i>`
  <i class="fa fa-file-image-o"></i>       | Image      | `<i class="fa fa-file-image-o"></i>`
  <i class="fa fa-file-archive-o"></i>     | Archive    | `<i class="fa fa-file-archive-o"></i>`
  <i class="fa fa-file-audio-o"></i>       | Audio      | `<i class="fa fa-file-audio-o"></i>`
  <i class="fa fa-file-video-o"></i>       | Video      | `<i class="fa fa-file-video-o"></i>`
  <i class="fa fa-file-code-o"></i>        | Code       | `<i class="fa fa-file-code-o"></i>`

*/

.fa-file-o{

}

.fa-file-excel-o{
  color: #1C881C;
}

.fa-file-text-o{

}

.fa-file-pdf-o{
  color: #A74040;
}

.fa-file-word-o{
  color: #0A3D80;
}

.fa-file-powerpoint-o{
  color: #B3622F;
}

.fa-file-image-o{
  color: #296E71;
}

.fa-file-archive-o{

}

.fa-file-audio-o{
  color: #AB8F3A;
}

.fa-file-video-o{
  color: #783D82;
}

.fa-file-code-o{

}

.icon-with-label{
  display: inline-block;
  text-align: center;
  .fa{
    display: inline-block;
    height: 1em;
    width: 1em;
  }
  .icon-label{
    display: block;
    font-size: 0.7em;
  }
}

.icon-with-label + .icon-with-label{
  margin-left: 1em;
}


.fa.circle{
  border-radius: 50%;
  background-color: white;
  color: #44494D;
  padding: 0.3em;
  box-sizing: content-box;
}

.spinner{
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-image: url(../media/img/loading.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.peerio-loader{
  display: block;
  width: 100px;
  height: 100px;
  margin: 30px auto;
  background-image: url(../media/img/peerio-loader-transparent.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}