/*doc
---
title: Inputs
name: Inputs
category: Base CSS
---

Some form inputs aren't strictly 'base' elements, since they rely on label plus input combo, but conceptually, they
still act as a single unit.

###Radio Inputs

Custom radio and checkbox inputs rely on two HTML elements: an input and a label. The input itself is hidden,
while the label is styled using the `:after` pseudo-selector to display a styled input.

```html_example
<input class="sr-only radio-button" type="radio" name="radio_inputs" id="radio_1" value="sms"/>
<label class="radio-label" for="radio_1">SMS</label>

<input class="sr-only radio-button" type="radio" name="radio_inputs" id="radio_2" value="captcha" checked />
<label class="radio-label" for="radio_2">Captcha</label>
```

###Checkbox Inputs

```html_example
<input class="checkbox-input" type="checkbox" name="auth_method" id="checkbox_1" value="sms"/>
<label class="checkbox-label" for="checkbox_1">Checkbox 1</label>

<input class="checkbox-input" type="checkbox" name="auth_method" id="checkbox_2" value="captcha" checked />
<label class="checkbox-label" for="checkbox_2">Checkbox 2</label>
```

###Text inputs

Text inputs are full-width by default. They can be contained using layout classes.

```html_example
  <input class="text-input" id="text_input_1" type="text" placeholder="text input with placeholder" />
```

//TODO: better textarea styles

```html_example
  <textarea class="textarea-transparent"></textarea>
```

```html_example
  <select class="select-input">
    <option>Option 1</option>
    <option>Option 1</option>
    <option>Option 1</option>
    <option>Option 1</option>
  </select>
```

*/

/*
  TODO:
  Fix input and labeling inconsistencies by minimizing available classes and styling tags directly.
  Use classes for modifying tag styling.
  Current Issues include:
  -  some labels have colons,
  -  some labels are input placeholders
  -  some labels are bold uppercase, some labels are normal capitalized, sometimes all in the same screen
  -  some label fields are styled with underlines
  -  some are styled with borders

  FIND AND REPLACE/REMOVE/RESTYLE.

*/
.address {
  @extend .flex-row ;
  @extend .flex-justify-between;
  @extend .flex-align-center;

  height: 48px;

  .text-mono {
    white-space: inherit;
  }
}

.radio-button:checked + .radio-label i:after {
  content: "radio_button_checked";
  color: color(p-green);
}

.radio-label {
  padding: 0 12px 0 0;

  i:after {
    content: "radio_button_unchecked";
    color: $black-12;
    transition: $speed-normal;
  }
}

.textarea-transparent {
  border: 0;
}

.checkbox-input {
  -webkit-appearance: none;
  height: 24px;

  i:after {
    content: 'check_box_outline_blank';
    color: $black-12;
    transition: $speed-fast ease-out;
  }
}

.checkbox-input:checked i:after,
.checkbox-input.checked i:after {
  color: color(p-green);
  content: 'check_box';
}

.placeholder-warning::-webkit-input-placeholder {
  color: #bd8b8b;
  font-weight: bold;
}

.content {
    // TODO: find out where is text-mono used? - paul
    .text-mono {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
