/*doc
---
title: Inputs
name: Inputs
category: Base CSS
---

Some form inputs aren't strictly 'base' elements, since they rely on label plus input combo, but conceptually, they
still act as a single unit.

###Radio Inputs

Custom radio and checkbox inputs rely on two HTML elements: an input and a label. The input itself is hidden,
while the label is styled using the `:after` pseudo-selector to display a styled input.

```html_example
<input class="sr-only radio-button" type="radio" name="radio_inputs" id="radio_1" value="sms"/>
<label class="radio-label" for="radio_1">SMS</label>

<input class="sr-only radio-button" type="radio" name="radio_inputs" id="radio_2" value="captcha" checked />
<label class="radio-label" for="radio_2">Captcha</label>
```

###Checkbox Inputs

```html_example
<input class="checkbox-input" type="checkbox" name="auth_method" id="checkbox_1" value="sms"/>
<label class="checkbox-label" for="checkbox_1">Checkbox 1</label>

<input class="checkbox-input" type="checkbox" name="auth_method" id="checkbox_2" value="captcha" checked />
<label class="checkbox-label" for="checkbox_2">Checkbox 2</label>
```

###Text inputs

Text inputs are full-width by default. They can be contained using layout classes.

```html_example
  <input class="text-input" id="text_input_1" type="text" placeholder="text input with placeholder" />
```

//TODO: better textarea styles

```html_example
  <textarea class="textarea-transparent"></textarea>
```

```html_example
  <select class="select-input">
    <option>Option 1</option>
    <option>Option 1</option>
    <option>Option 1</option>
    <option>Option 1</option>
  </select>
```

*/

/*
  TODO:
  Fix input and labeling inconsistencies by minimizing available classes and styling tags directly.
  Use classes for modifying tag styling.
  Current Issues include:
  -  some labels have colons,
  -  some labels are input placeholders
  -  some labels are bold uppercase, some labels are normal capitalized, sometimes all in the same screen
  -  some label fields are styled with underlines
  -  some are styled with borders

  FIND AND REPLACE/REMOVE/RESTYLE.

*/


$text-input-padding: 0.5em;
$text-input-fontsize: 1rem;

.radio-button:checked + .radio-label-square{
  background-color: #2795d0;
  color: white;
  font-weight:bold;
}

.radio-button:checked + .radio-label:after {
  content: " ";
  background-color: color(p-green);
}
.radio-label{
  display: inline-block;
  padding: 0.2em 0.5em;
  font-size: 1.2rem;
  border-radius: 1.5em;
  z-index: 1;
  vertical-align: middle;
  margin: 0 0.3em;
}

.radio-label:after{
  content: " ";
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  background-color: transparent;
  border: $border-light;
  margin-left: 0.5em;
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.09);
}

.select-input > option {
  color: $black-87;
}

.textarea-transparent{
  border: none;
}

.text-input{
  display: block;
  border: none;
  //seperating border props lets us change color in themes
  //without effecting border width and style.
  border-color:#d6d6d6;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 100%;
  font-size: inherit;//from text-input-group
  font-weight: 200;
  transition: border-color 150ms ease-in;
  background-color: transparent;
  height: 40px;
  color: black;
}

.text-input-primary{
  @extend .text-input;
  border: $border-light;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.12);
}

.text-input-label{
  font-size: inherit;
  position: absolute;
  top: 0;
  color: inherit;
  transition: top $speed-fast ease-out, color $speed-fast ease-out;
}

.checkbox-input{
  //gold
  -webkit-appearance: none;
}
.checkbox-input:after{
  visibility: visible;
  content: '';
  background: $white-100;
  color: $white-12;
  border: 2px solid $black-12;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 20px;
  border-radius: $radius-default;
  vertical-align: middle;
  transition: $speed-fast ease-out;
}

.checkbox-input:checked:after,
.checkbox-input.checked:after{
  border-color: color(p-green);
  color: $white-100;
  content: "\f00c";
  font-family: 'FontAwesome';
  background: color(p-green);
}

.checkbox-label{
  color:inherit;
}

.placeholder-warning::-webkit-input-placeholder {
  color: #bd8b8b;
  font-weight: bold;
}

/** trying to refactor settings look a little bit, let's call it rectangular **/
.content{
    // TODO: find out where is text-mono used? - paul
    .text-mono {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
