/*doc
---
title: Typography
name: Typography
category: Base CSS
---

These are styles for text elements. They can be applied to any element.

Text Style                                                                  | class name
----------------------------------------------------------------------------|-----------
<span class="headline-lrg">Large Headline</span>                            | `headline-lrg`
<span class="headline">Default Headline</span>                              | `headline`
<span class="headline-md">Medium headline</span>                            | `headline-md`
<span class="headline-sm">Small headline</span>                             | `headline-sm`
<span class="subhead">subhead</span>                                        | `subhead`
<span class="subhead-inline">inline subhead</span>                          | `subhead-inline`
<span class="headline-divier">divider-header</span>                         | `headline-divider`
<span class="txt-lrg">Large text</span>                                     | `txt-lrg`
<span class="txt-sm">small text</span>                                      | `txt-sm`
<span class="info-label">info label</div>                                   | `info-label`
<span class="info-small"><i class="fa fa-user"></i>label with icon </span>  | `info-small`
<div class="text-mono">monospace text</div>                                 | `text-mono`
<div class="text-crossout">crossed-out text</div>                           | `text-crossout`
<div class="centered-text">centered text</div>                              | `centered-text`

```html_example
<div class="headline-lrg">Headline with a subhead</div>
<h2 class="subhead">subhead</h2>

<div class="headline-md">Headline with inline-subhead</div>
<div class="subhead-inline">Inline subheads are very small</div>
```

*/

/*
  TODO:
  review typography styling and and naming convention.
  add more direction on how to use each class and some usecase demos

*/

.headline {
  display: block;
  margin: 0;
  padding: $padding-small $padding-base;
  font-size: 1.5rem;
  font-weight: 100;
}

.headline-sm {
  @extend .headline;
  font-size: 1.1rem;
  margin-bottom: .5em;
}

.headline-md {
  @extend .headline;
  font-size: 1.2rem;
  //margin-bottom: 0.5em;
}

.headline-lrg {
  @extend .headline;
  font-size: 1.6rem;
}
.headline-sub {
  @extend .headline;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
}

.subhead {
  font-weight: 300;
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  padding-left: $padding-base;
  text-transform: capitalize;
  color: $black-54;

}

.subhead-light {
  @extend .subhead;
  color: $white-70;
}

.subhead-inline{
  font-size: 0.7em;
  font-weight: bold;

  text-transform: uppercase;
}

.txt-lrg {
  display: block;
  font-size: 1.5rem;
  z-index: 1;
  vertical-align: middle;
  margin: 0.5em 0 1.5em 0;
  width: 100%;
  font-weight: 800;
  -webkit-user-select: text;
  user-select: text; //to make text copy/paste-able
}

.txt-sm {
  font-size: 0.9em;
}
.centered-text{
  text-align: center;
  margin-bottom: 1rem;
}

.info-label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-weight: 600;
}

.info-small {
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.2em;

  .fa {
    margin-right: 0.5em;
  }
}

.text-mono {
  @include ellipses();

  font-family: monospace;
  font-size:0.8em;
}

.text-crossout {
  opacity: 0.6;
  text-decoration: line-through;
}

.line-across {
  display: flex;
  justify-content: center;
  color: inherit;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  &:before, &:after{
    content: " ";
    border-bottom: $border-dark;
    flex-grow: 1;
    align-self: center;
    margin:0 $margin-base;
  }
}

.headline-divider {
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  color: color(meta-text-light);
  margin-top: 1em;
  margin-bottom: 1em;
}
.headline-divider:after,
.headline-divider:before{
  content: " ";
  height: 1px;
  background-color: darken(color(meta-text-light), 5%);
  flex-grow: 1;
  margin: 0px 1rem;
}

.red-bold {
  @extend .text-red;

  font-weight: 600;
}

.text-red {
  color: $color-error !important;
}

.caption {
  color: $black-38;
  font-size: 12px;
}

.lowercase {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}
