/*doc
---
title: Content Wrappers
name: content_wrappers
category: Layout
---

Content wrappers are specially positioned divs designed to work on mobile webviews.
They are absolutely positioned and have values for all `top` `bottom` `left` `right` properties.
This ensures they are always positioned at the maximum width and height of the viewport.

Content wrappers inherit from the `content-wrapper` mixin.

Content wrappers have modifier classes for special scenarios, like `.content-wrapper.with-reply-box` and
`content-wrapper.without-tab-bar`.
 */

@mixin content-wrapper($top, $bottom) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  right: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $z-content;
  background-color: #fafafa;
  //Smooth scrolling on iOS
  -webkit-overflow-scrolling: touch;
}

.page-wrapper-login {
  @include content-wrapper(0, 0);
}

.content-wrapper-login {
  @include content-wrapper(0, 0);

  background-color: transparent;
  margin: 0 auto;
  max-width: 400px;

}

.content-wrapper-signup {
  @include content-wrapper(0, 0);

  fieldset {
    height: auto;
  }

  .textarea-wrapper {
    padding: $padding-small $padding-base;
    margin: $margin-base 0;
    overflow: hidden;
    background: $white-30;

    textarea {
      background: transparent;
      font-size: 1.5em;
      font-weight: 800;
      padding: 4px 0;
      width: 100%;
      resize: none;
    }
  }
}

.content.with-reply-box {
  @include content-wrapper($top: $navbar-height + $tabbar-height, $bottom: $footer-height + $reply-height);
}

.content.without-tab-bar,
.without-tab-bar {
  @include content-wrapper($top:  $navbar-height, $bottom: $footer-height);

  &.without-footer {
    bottom: 0;
    z-index: #{$z-tabbar + 1};
  }
}

.content {
  @include content-wrapper($top: $navbar-height + $tabbar-height, $bottom: $footer-height);
}

.content-intro {
  // changed margin-top to set value, so that Peerio logo is in the same spot on all pages with empty state.
  margin-top: $margin-base;
  margin-bottom: auto;

  .paper-plane-padding {
    padding: $padding-small #{$padding-base * 2} 0 0;
  }

  .peerio-logo {
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }
}

// .ios.modal-container, .ios.modal-container > div {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
// }

.modal {
  position: absolute;
  top: $navbar-height;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.content-inline-dialog {
  background: $white-100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
}


.section-highlight {
  @extend .flex-row;
  @extend .flex-justify-center;
  @extend .flex-align-center;

  background: #eee;
  margin: #{$margin-base*2} 0;
  padding: #{$margin-base*1.5};

}
