/*doc
---
title: Content Wrappers
name: content_wrappers
category: Layout
---

Content wrappers are specially positioned divs designed to work on mobile webviews.
They are absolutely positioned and have values for all `top` `bottom` `left` `right` properties.
This ensures they are always positioned at the maximum width and height of the viewport.

Content wrappers inherit from the `content-wrapper` mixin.

Content wrappers have modifier classes for special scenarios, like `.content-wrapper.with-reply-box` and
`content-wrapper.without-tab-bar`.
*/

@mixin content-wrapper($top, $bottom){
  position: absolute;
  top: $top;
  bottom: $bottom;
  right: 0;
  left:0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $z-content;
  background-color: white;
  //Smooth scrolling on iOS
  -webkit-overflow-scrolling: touch;
}
.page-wrapper-login{
  @include content-wrapper(0, 0);
}
.content-wrapper-login{
  @include content-wrapper(0, 0);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: transparent;
}
.content-wrapper-signup{
  @include content-wrapper(0, 0);
}

.content.with-reply-box {
  @include content-wrapper($top: $navbar-height + $tabbar-height, $bottom: $footer-height + $reply-height);
}

.content.without-tab-bar, .without-tab-bar  {
  @include content-wrapper($top:  $navbar-height, $bottom: $footer-height);
}

.content {
  @include content-wrapper($top: $navbar-height + $tabbar-height, $bottom: $footer-height);
}

.content-padded{
  @extend .content;
  padding: 10px;
}
.content-intro{
  padding: 20px;
  margin-top: auto;
  .peerio-logo{
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
