/*doc
---
title: Micro 12 column Grid
name: grid
category: Layout
---

This is a basic 12 column percentage grid, useful for putting things next to each other.
The basic column rule applies: columns must add up to 12 to make row.

```html_example
<div class="doc-cols">
  <div class="col-12">
    <div class="col-12">col-12</div>
    <div class="col-6">col-6</div><div class="col-6">col-6</div>
    <div class="col-4">col-4</div><div class="col-4">col-4</div><div class="col-4">col-4</div>
    <div class="col-2">col-2</div><div class="col-2">col-2</div><div class="col-2">col-2</div><div class="col-2">col-2</div><div class="col-2">col-2</div><div class="col-2">col-2</div>
  </div>
</div>
```

`display:inline-block;` is used to position columns next to each other. The only reason this is viable is because
JSX renders components without whitespace between them.

This works

```
<div class="col-6"></div><div class="col-6"></div>
```

This doesn't

```
<div class="col-6"></div> <div class="col-6"></div>
```
*/
/* TODO: more alignment class
    ex. flex-justify-align-center {
          @extend .flex-justify-center;
          @extend .flex-align-center;
        }
*/

$grid-columns:12;

%col {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: 100% / $grid-columns * $i;
    @extend %col;
  }
}

.col-first {
  padding-left:0;
}

.col-last {
  padding-right:0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}
