/*doc
---
title: Micro 12 column Grid
name: grid
category: Layout
---

This is a basic 12 column percentage grid, useful for putting things next to each other.
The basic column rule applies: columns must add up to 12 to make row.
*/

$grid-columns:12;

%col {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: 100% / $grid-columns * $i;
    @extend %col;
  }
}