.contact-select-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contact-select {
  z-index: 600;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: white;
  ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 145px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 145px;
    background-color: #E8E8E8;
  }
  .contact {
    padding: 10px;
    font-size: 1rem;
    border-bottom: 1px solid #FFFFFF;
    position: relative;
    background-color: #EEEEEE;
    .checkbox-input{
      margin-right: 10px;
    }
    .avatar{
      margin-right: 4px;
    }
  }
  .contact.selected{
    background-color: $p-blue-light-20;
    color: white;
    .checkbox-input{
      display: inline-block;
    }
    .checkbox-input:after{
      background-color: $p-blue-light-20;
    }
    .username{
      color: white;
    }
  }
  .username {
    color: #888888;
    font-size: 90%;
    margin-left: 5px;
  }
}

.contact-select.file-select {
  width: auto;
  height: auto;
  position: fixed;
  top: $navbar-height;
  bottom: $footer-height;
  left: 0;
  right: 0;
  z-index: ($z-tabbar+1);
  .contact {
    i {
      top: 10px;
    }
  }
}

.avatar {
  width: 29px;
  height: 29px;
  line-height: 24px;
  display: inline-block;
  border: 1px solid #D8D8D8;
  padding: 2px 1px 1px 2px;
  background-color: #EEEEEE;
  vertical-align: middle;
  text-align: center;
  color: #C3C3C3;
  font-size: 20px;
  .pic {
    width: 12px;
    height: 12px;
    float: left;
  }

  &.big {
    width: 42px;
    height: 42px;
    line-height: 38px;
    font-size: 28px;
    .pic {
      width: 18px;
      height: 18px;
    }
  }
}

.info-blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -5px 40px -5px;
  .block {
    flex: auto;
    background-color: #FAFAFA;
    margin: 5px;
  }
  .block-title {
    background-color: #F2F2F2;
    color: #777777;
    padding: 3px 5px 3px 5px;
  }
  .block-content {
    padding: 3px 5px 3px 5px;
    word-wrap: break-word;
  }
}
