/**
 *  Contact list screen specific styles
 */

#contact-list {
  padding-bottom: 50px;
}

.contact-list-item {
  color: #444;
  padding: 11px 0 0 60px;
  height: 55px;
  max-height: 55px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #f0f0f0;
  .username {
    font-weight: 600;
    color: #666666;
  }
  .avatar {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -21px;
  }
  .status{
    font-size: 25px;
    position: absolute;
    top: 14px;
    right: 10px;
    color: $p-blue-light-40;
  }
}

.contact-view {
  padding: 10px 10px 40px 10px;
  .head {
    padding: 6px 0 10px 50px;
    color: #525252;
    font-size: 1.2em;
    border-bottom: 1px solid #CCCCCC;
    word-wrap: break-word;
    position: relative;
    min-height: 2.7em;
    .avatar {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .pending{
    height: 40px;
    text-align: center;
    background-color: #DFF1FF;
    line-height: 40px;
    font-size: 120%;
  }
}


