/**
 *  File list screen specific styles
 */

#file-list {
  padding-bottom: 50px;
}
$file-item-height: 55px;

.file-list-item {
  color: #444;
  padding: 12px 0 0 45px;
  height: $file-item-height;
  max-height: $file-item-height;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #f0f0f0;
  .name {
  }
  .size {
    font-weight: 600;
    color:#666;
  }
  .file-type{
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -13px;
    font-size: 29px;
    color: #c2c2c2;
    &.cached{
      color: #4A5B6C;
    }
  }
  .download{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(51, 68, 85, 0.9);
    text-align: center;
    line-height: $file-item-height;
    color: #fff;
  }
}