/*doc
---
title: List View
name: list_view
category: Components
---

The same `.list-view` component is used across messages, file, and contact lists. The component provides places for up
to four columns of content, usually `|meta-content|main-content with description|more meta|right-arrow`. It also accommodates
a 'swipe to delete' action.

```html_example
<div class="list-view">
  <div class="list-item">
    <div class="list-item-thumb">
    <div class="icon-with-label"><i class="fa fa-paperclip attachment"></i><span class="icon-label">2</span></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">List item title</div>
      <div class="list-item-description">List item description</div>
    </div>
    <div class="list-item-content text-right">
      <span class="list-item-description">Date</span>
      <span class="list-item-description">and time</span>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="list-item unread">
    <div class="list-item-thumb">
    <div class="icon-with-label"><i class="fa fa-paperclip attachment"></i><span class="icon-label">2</span></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">List item title</div>
      <div class="list-item-description">List item description</div>
    </div>
    <div class="list-item-content text-right">
      <span class="list-item-description">Date</span>
      <span class="list-item-description">and time</span>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="list-item swiped">
    <div class="list-item-thumb">
    <div class="icon-with-label"><i class="fa fa-paperclip attachment"></i><span class="icon-label">2</span></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">List item title</div>
      <div class="list-item-description">List item description</div>
    </div>
    <div class="list-item-content text-right">
      <span class="list-item-description">Date</span>
      <span class="list-item-description">and time</span>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div class="list-item-swipe-content">
      <i class="fa fa-trash-o"></i>
    </div>
  </div>

  <div class="list-item">
    <div class="list-item-thumb">
      <i class="list-item-thumb file-type fa fa-file-image-o"></i>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">filename.jpg</div>
      <div class="list-item-description">file size and date created</div>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="list-item">
    <div class="list-item-thumb">
      <div class="avatar"></div>
    </div>
    <div class="list-item-content">
      <div class="list-item-title">User's First and Last Name</div>
      <div class="list-item-description">username</div>
    </div>
    <div class="list-item-forward">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

</div>
```

*/
.list-view{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  .list-item{
    min-height: 60px;
    max-height: 60px;
    display: flex;
    padding-left: 0px;
    padding-right: 5px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    color: #444444;
    background-color: #F3F3F3;
    position: relative;
    transition: transform 0.3s ease-out, background-color 0.1s ease-in;
    &.unread{
      background-color: #fff;
      border-left: 5px solid #5EA767;
    }
    &.swiped {
      transform: translateX(-50px);
    }
    &.on-touchstart{
      background-color:#E4E4E4;
    }
    .list-item-content{
      flex-grow: 1;
      overflow: hidden;
      .list-item-title{
        font-size: 0.95rem;
        font-weight: 600;
        margin-bottom: 0.2em;
        @include ellipses();
      }

      .list-item-description{
        font-size: 0.8rem;
        font-weight: 400;
        opacity: 0.6;
        @include ellipses();
      }
    }
    .list-item-content.text-right{
      min-width: 50px;
    }
    .list-item-thumb{
      max-width: 40px;
      min-width: 24px;
      padding: 0 5px;
      flex: 0 0 auto;
      text-align: center;
      align-self: center;
      .avatar{
        height: 29px;
        width: 29px;
        line-height: 8px;
        font-size: 16px;
      }
    }

    .list-item-forward{
      flex:0 0 20px;
      text-align: center;
      align-self: center;
      padding-left: 8px;
      .fa-chevron-right{
        opacity: 0.4;
      }
    }

    .list-item-swipe-content{
      position: absolute;
      top: 0;
      left: 100%;
      background-color: #B55353;
      width: 50px;
      z-index: -1;
      height: 100%;
      color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      overflow: hidden;
    }

  }
}

.list-item-swipe-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
}

.file-type.fa{
  font-size: 24px;
  opacity: 0.8;
}


.compact-list-view{
  @extend .list-view;
  .list-item{
    min-height: 20px;
    max-height: 60px;
    border: none;
    background-color: transparent;
    margin-bottom: 0.2em;
    margin-top: 0.2em;

    .list-item-thumb{
      text-align: left;
    }
  
  }
  
}

//animation when deleting a conversations from list view.
.list-item.swiped.list-item-animation-leave{
  animation-name: slideDelete;
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;

  .list-item-swipe-content{
    transition: width 300ms ease-out;
    width: 100%;
  }
}
