.list-view{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  .list-item{
    min-height: 60px;
    max-height: 60px;
    display: flex;
    padding-left: 0px;
    padding-right: 8px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    color: #444444;
    background-color: #F3F3F3;
    .list-item-content{
      flex-grow: 1;
      overflow: hidden;
      .list-item-title{
        font-size: 0.95rem;
        font-weight: 600;
        margin-bottom: 0.2em;
        @include ellipses();
      }

      .list-item-description{
        font-size: 0.8rem;
        font-weight: 400;
        opacity: 0.9;
      }
    }

    .list-item-thumb{
      flex:0 0 33px;
      text-align: center;
      .avatar{
        height: 20px;
        width: 20px;
        line-height: 8px;
        font-size: 16px;
      }
    }

    .list-item-forward{
      flex:0 0 20px;
      text-align: center;
      .fa-chevron-right{
        opacity: 0.4;
      }
    }
  }
}

.file-type.fa{
  font-size: 24px;
  opacity: 0.8;
}