// Peerio.UI.Tappable renders span that collapses item height when there are too many items
.content.list-view>span {
  min-height: 60px;
}

.list-view{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  .list-item{
    min-height: 60px;
    max-height: 60px;
    display: flex;
    padding-left: 0px;
    padding-right: 8px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    color: #444444;
    background-color: #F3F3F3;
    &.unread{
      background-color: #fff;
    }
    .list-item-content{
      flex-grow: 1;
      overflow: hidden;
      .list-item-title{
        font-size: 0.95rem;
        font-weight: 600;
        margin-bottom: 0.2em;
        @include ellipses();
      }

      .list-item-description{
        font-size: 0.8rem;
        font-weight: 400;
        opacity: 0.6;
      }
    }

    .list-item-thumb{
      max-width: 40px;
      min-width: 24px;
      padding: 0 5px;
      flex: 0 0 auto;
      text-align: center;
      .avatar{
        height: 29px;
        width: 29px;
        line-height: 8px;
        font-size: 16px;
      }
    }

    .list-item-forward{
      flex:0 0 20px;
      text-align: center;
      .fa-chevron-right{
        opacity: 0.4;
      }
    }
  }
}

.file-type.fa{
  font-size: 24px;
  opacity: 0.8;
}


.compact-list-view{
  @extend .list-view;
  .list-item{
    min-height: 20px;
    max-height: 60px;
    border: none;
    background-color: transparent;
    margin-bottom: 0.2em;
    margin-top: 0.2em;

    .list-item-thumb{
      text-align: left;
    }
  
  }
  
}