#new-message {
  position:relative;
  position: relative;
  display: flex;
  flex-direction: column;
  height:100%;

  .recipients{
    display: flex;
    min-height: 40px;
    align-items: center;
    .names{
      flex-grow: 1;
    }
  }

  .name-selected{
    font-size: 0.9em;
    background-color: color(p-blue-light-10);
    color: white;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    display: inline-block;
    margin: 2px;
    word-break: break-all;
  }
  .subject-inputs{
    display: flex;
  }
  $recipients-height: 40px;

  .to{
    min-width: 30px;
    text-align: center;
  }
  .recipients {
    min-height: $recipients-height;
    padding-right: 0;
    .add-btn {
      min-width: 48px;
      min-height: $recipients-height;
      background-color: #eee;
      color: #888;
      font-size: 150%;
      display: flex;
      position: relative;
      align-items: center;
      text-align: center;
      justify-content: center;
      align-self: inherit;
    }
  }

  .attach-btn {
    min-width: 48px;
    border-top: 1px solid white;
    font-size: 188%;
    background-color: #eee;
    color: #888;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: $recipients-height;
  }
  .icon-counter {
    font-size: 12px;
    width:16px;
    height:16px;
    display: block;
    border-radius:50%;
    background-color:white;
    text-align: center;
    line-height: 16px;
    position: relative;
    top: 5px;
    left: -2px;
  }
  .subject-inputs{
    display: flex;
    min-height: $recipients-height;
  }
  .subject {
    flex-grow:1;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    -webkit-appearance: none; // removes weird inner shadow on ios
    border-right: none;
    border-left: none;
    padding-left: 5px;
    &:focus {
      background-color: #fafafa;
    }
  }

  .message {
    resize: none;
    top: 80px;
    bottom: 0;
    padding: 10px 5px;
    border: none;
    flex-grow:1;
    &:focus {
      background-color: #fafafa;
    }
  }

}