.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 200% 100%;
  height: 90%;
  min-height: 40px;
  width: 100%;
  margin: 3px 8px 0 0;
  position: relative;
  .mask1,
  .mask2,
  .mask3,
  .mask4 {
    position: absolute;
    background-color:#F3F3F3;
  }
  .mask1 {
    top: 35%;
    left: 0;
    bottom: 35%;
    right: 0;
  }
  .mask2 {
    top: 0;
    left: 40%;
    bottom: 43%;
    right: 25%;
  }
  .mask3 {
    top: 43%;
    left: 54%;
    bottom: 0;
    right: 16%;
  }
}
