.alert {
  z-index: $z-alert;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  &>.alert-content {
    max-width: 90%;
    min-width: 80%;
    background: white;
    padding: 10px;
    font-size: 1.2rem;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    animation: scaleIn 300ms ease-in;
    button {
    }
  }
  .alert-content-text{
    flex-grow: 1;
  }
  .alert-content-btns{
    flex-grow: 0;
  }
  &+.dim-background{
    z-index: ($z-alert - 1);
    animation: scaleIn 200ms ease-in;
  }
}