/**
 *   Shared/universal rules
 */
html {
  // Root font size. All other font sizes should be in rem units
  font-size: 15px;
  user-select: none;
  box-sizing: border-box;
}

*, *:before, *:after {
  user-select: inherit;
  box-sizing: border-box;
}
html * {
  -webkit-margin-collapse: separate;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  -webkit-overflow-scrolling: touch;
}

// HACK: placeholder not disappearing on focus in textarea
input:focus::-webkit-input-placeholder {
  color: transparent;
}

// except inputs, they can be text-selected
input, textarea {
  user-select: initial;
  border-radius:0;
  box-sizing: border-box;
}

input[type="search"]{
  box-sizing: border-box;
}


button:focus,
input:focus,
textarea:focus{
  outline: none;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: OpenSans, sans-serif;
  color: color(body-text);
  background-color: #fff;
}

body.ios{
  margin-top: 20px;
  background-color: color(p-blue-darker);
}

.ios-titlebar{
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  height: 20px;
  background-color: color(p-blue-darker);
  z-index: 10000000000;
}

button{
  background-color: color(p-blue-darker);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  //  text-shadow: 2px 2px 3px $p-blue-dark-20;
  text-align: center;
  padding: 0;
}
// Universal link styling
a {
  color: color(p-blue);
  text-decoration: none;
  &:active {
    color: color(p-blue);
  }
}

fieldset{
  border: none;
  margin: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
}


img {
  max-width: 100%;
}

hr{
  width: 100%;
  clear: both;
  height:0;
  margin-top: 1rem;
  border: 1px solid rgba(205, 205, 205, 0.5);
  box-sizing: border-box;
  @include clearfix();
}

p{
  margin-top:0.2em;
  margin-bottom:0.7em;
}
// universal components