@mixin button-ripple(){
  position: relative;
  &:after{
    content: " ";
    display: block;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background:radial-gradient(circle, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 20%, transparent 21%);
    opacity: 1;
    background-size: 0%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &.on-touchstart:after{
    background-size: 1000%;
    transition: background-size 0.5s ease-in, opacity 0.5s ease-in 0.22s;
    opacity: 0;
  }
}


button:disabled{
  background-color: rgba(103, 103, 103, 0.69);
  color: #353535;
}

.btn {
  @include button-ripple;
  @include button-text-shadow;
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-radius: 3px;
  color: white;
  width: 100%;
  background-color: #2795D0;
}

.btn-subtle{
  background-color: transparent;
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: inherit;
}

.btn-sm{
  @extend .btn;
  font-size: 0.9rem;
}

.btn-lrg{
  @extend .btn;
  font-size:  1.6rem;
  width: 100%;
  font-weight: 100;
}

.btn-lrg-back{
  @extend .btn-lrg;
  background-color: transparent;
  opacity: 0.8;
  > .fa {
    position: relative;
    left: -5px;
  }
}
.btn-md{
  @extend .btn;
  font-size: 1em;
  padding: 0.7em;
}

.btn-dark{
  @extend .btn;
  background-color: rgba(0,0,0,0.4);
}

.btn-safe {
  @extend .btn;
  background-color: $p-green;
  color: white;
}

.btn-danger {
  @extend .btn;
  color: white;
  background-color:#BD3535;
}

.btn-link.btn-danger{
  background-color: transparent;
  text-decoration: underline;
  color: #BD3535;
  padding: 0;
}

//green footer button
.accept-button{
  @include button-ripple;
  @include button-text-shadow;
  display:table-cell;
  padding:0 15px 0 15px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #5EA767;
  color:white;
  min-width: 120px;
  text-align: center;
}

//footer back button
#global-back{
  @include button-ripple;
  @include button-text-shadow;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: left;
  padding-left:10px;
  padding-right: 30px;
  white-space: nowrap;
  text-transform:uppercase;
  transition: background-color 0.1s ease-in;
  &.on-touchstart {
    background-color: #26384A;
  }
}
