button:disabled{
  background-color: rgba(103, 103, 103, 0.69);
  color: #353535;
}

.btn {
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-radius: 3px;
  color: white;
  width: 100%;
  background-color: #2795D0;
}

.btn-subtle{
  background-color: transparent;
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: inherit;
}

.btn-sm{
  @extend .btn;
  font-size: 0.9rem;
}

.btn-lrg{
  @extend .btn;
  font-size:  1.6rem;
  width: 100%;
  font-weight: 100;
}

.btn-lrg-back{
  @extend .btn-lrg;
  background-color: transparent;
  opacity: 0.8;
  > .fa {
    position: relative;
    left: -5px;
  }
}
.btn-md{
  @extend .btn;
  font-size: 1em;
  padding: 0.7em;
}

.btn-dark{
  @extend .btn;
  background-color: rgba(0,0,0,0.4);
}

.btn-safe {
  @extend .btn;
  background-color: $p-green;
  color: white;
}

.btn-danger {
  @extend .btn;
  color: white;
  background-color:#BD3535;
}

.btn-link.btn-danger{
  background-color: transparent;
  text-decoration: underline;
  color: #BD3535;
  padding: 0;
}
.accept-button{
  display:table-cell;
  padding:0 15px 0 15px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #5EA767;
  color:white;
  min-width: 120px;
  text-align: center;
}