
.btn {
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-radius: 3px;
  color: white;
  width: 100%;
}
.btn-subtle{
  background-color: transparent;
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn-lrg{
  @extend .btn;
  font-size:  1.6rem;
  width: 100%;
  font-weight: 100;
}

.btn-safe {
  @extend .btn;
  background-color: $p-green;
  color: white;
}

.btn-danger {
  @extend .btn;
  color: white;
  background-color: #ee3333;
}

.accept-button{
  display:table-cell;
  padding:0 15px 0 15px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #156949;
  color:white;
  min-width: 120px;
  text-align: center;
}

