.fa-file-o{

}

.fa-file-excel-o{
  color: #1C881C;
}

.fa-file-text-o{

}

.fa-file-pdf-o{
  color: #A74040;
}

.fa-file-word-o{
  color: #0A3D80;
}

.fa-file-powerpoint-o{
  color: #B3622F;
}

.fa-file-image-o{
  color: #296E71;
}

.fa-file-archive-o{

}

.fa-file-audio-o{
  color: #AB8F3A;
}

.fa-file-video-o{
  color: #783D82;
}

.fa-file-code-o{

}

.icon-with-label{
  display: inline-block;
  text-align: center;
  .fa{
    display: inline-block;
    height: 1em;
    width: 1em;
  }
  .icon-label{
    display: block;
    font-size: 0.7em;
  }
}

.icon-with-label + .icon-with-label{
  margin-left: 1em;
}


.fa.circle{
  border-radius: 50%;
  background-color: white;
  color: #44494D;
  padding: 0.3em;
  box-sizing: content-box;
}