
$text-input-padding: 0.5em;
$text-input-fontsize: 1rem;

.radio-button:checked + .radio-label-square{
  background-color: #2795d0;
  color: white;
  font-weight:bold;
}

.radio-button:checked + .radio-label:after {
  content: " ";
  background-color: #95D583;
}
.radio-label{
  display: inline-block;
  padding: 0.2em 0.5em;
  font-size: 1.2rem;
  border-radius: 1.5em;
  z-index: 1;
  vertical-align: middle;
  margin: 0 0.3em;
}

.radio-label:after{
  content: " ";
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  background-color: transparent;
  border: 1px solid #EAEAEA;
  margin-left: 0.5em;
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.09);
}

.select-input {
  border: none;
  border-color:#D6D6D6;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: $text-input-padding;
  font-size: $text-input-fontsize;
  -webkit-appearance: none;
  width: 100%;
  color: inherit;
  height: 40px;
  border-radius: 3px;
}

.select-input > option {
  color: black;
}


.text-input-label-static{
  @extend .text-input-label;
  font-size: 0.8rem;
  top: -0.5rem;
}

#passphrase-input{
  margin-bottom: 10px;
}

.textarea-transparent{
  border: none;
}

.text-input{
  display: block;
  border: none;
  //seperating border props lets us change color in themes
  //without effecting border width and style.
  border-color:#D6D6D6;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 100%;
  font-size: inherit;//from text-input-group
  font-weight: 200;
  padding: $text-input-padding;
  padding-bottom: 0.2em;
  padding-top: 0.7em;
  transition: border-color 150ms ease-in;
  background-color: transparent;
  height: 40px;
  color: black;
}

.text-input-primary{
  @extend .text-input;
  border: 1px solid #D6D6D6;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.17);
}

.text-input-label{
  font-size: inherit;
  position: absolute;
  top: $text-input-padding;
  left: $text-input-padding;
  color: inherit;
  transition: top 150ms ease-out, color 150ms ease-out;
}

.checkbox-input{
  //gold
  -webkit-appearance: none;
}
.checkbox-input:after{
  visibility: visible;
  content: '';
  background: #fff;
  border: 1px solid #EAEAEA;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.09);
}
.checkbox-input:checked:after,
.checkbox-input.checked:after{
  content: "\f00c";
  font-family: 'FontAwesome';
  color: white;
  background-color: #95D583;
}

.checkbox-label{
  color:inherit;
}
