
.page-wrapper-login{
  background-color: color(p-blue);
  color: white;
  .select-input{
    border: none;
    background-color: color(p-blue-light-10);
    height: 30px;
    padding: 5px;
  }
}

.content-wrapper-signup{
  background-color: color(p-blue);
  color: $white-100;

  input, select{
    color: $white-100;
    border-color: $white-12;

    &:focus {
      border-color: white;
    }
  }

  .content-padded {
      background: transparent;
      position: static;
      top: auto; left: auto; right: auto; bottom: auto;
      padding: 0px;
  }
}

.login-input {
  width: 100%;
  color: $white-100;
  margin-bottom: $margin-base;
  // text or passphrase
  .input-group{
    width: 100%;
    background-color: color(p-blue-light-5);
    min-height: 48px;
    padding: 0;
  }
  input {
    width: 100%;
    margin: $margin-small;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 100;
    transition: all $speed-normal ease;
    &:focus {
      outline: none;
      border: 0;
    }
  }
  label {
    display: block;
    width: 80%;
    font-size: 1.2rem;
    font-variant: small-caps;
    color: color(p-blue-light-40);
  }
  // "show passphrase" button
  // padding helps to trigger touch event better
  i {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    text-align: center;
  }
}
