
.page-wrapper-login{
  background-color: color(p-blue);
  color: white;
  overflow: hidden;
  .select-input{
    border: none;
    background-color: color(p-blue-light-10);
    height: 30px;
    padding: 5px;
  }
}

.content-wrapper-signup{
  background-color: color(p-blue);
  color: $white-100;

  input, select{
    color: $white-100;
    border-color: $white-12;

    &:focus {
      border-color: white;
    }
  }

  .content {
      background: transparent;
      position: static;
      top: auto; left: auto; right: auto; bottom: auto;
      padding: 0px;
  }
}

.login-input {
  width: 100%;
  color: $white-100;
  margin-bottom: $margin-base;

  // text or passphrase
  .input-group{
    // stying for inputs with controls.
    // TODO: move to input group styling.
    input {
      background-color: color(p-blue-light-5);
      min-height: 48px;
      border-radius: $radius-default;
    }

    .input-control {
      @extend .flex-row;

      input {
        border-radius: $radius-left;
      }
      i {
        background-color: color(p-blue-light-5);
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 20px;
        text-align: center;
        border-radius: $radius-right;
      }
    }
  }
  input {
    width: 100%;
    padding: 0 $padding-small;
    background: transparent;
    border: none;
    border-radius: 0;
    font-weight: 100;
    transition: all $speed-normal ease;
    &:focus {
      outline: none;
      border: 0;
    }
  }
  label {
    display: block;
    font-size: 14px;
    font-variant: small-caps;
    color: $white-70;
  }
}
