
.page-wrapper-login{
  background-color: color(p-blue);
  color: white;
  .select-input{
    border: none;
    background-color: color(p-blue-light-10);
    height: 30px;
    padding: 5px;
  }
}

.content-wrapper-signup{
  background-color: color(p-blue);
  color: white;

  .text-input, .select-input{
    color: white;
    border-color: white;
  }

  .content-padded {
      background: transparent;
      position: static;
      top: auto; left: auto; right: auto; bottom: auto;
      padding: 0px;
  }

}
