//animations
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}

@keyframes scaleIn {
  0%{
    opacity: 0;
    transform: scale(1);
  }
  60%{
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes connecting {
  from {
    background-color: #CC8B8E;
  }
  to   {
    background-color: #CC706E;
  }
}
@keyframes loading {
  from { background-position-x: 0%; }
  to   { background-position-x: 200%;    }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideDelete{
  0%{
    transform: translateX(-50px);
  }
  50%{
    transform: translateX(-100%);
    min-height: 60px;
    max-height: 60px;
  }
  100%{
    transform: translateX(-100%);
    min-height: 0;
    max-height: 0;
  }
}
