/*doc
---
title: Colors
name: colors
category: Utility
---

Colors are placed in a SASS map object called `$colors`. The colors can be accessed with the `color` function like so:

```
.sidebar{
  background-color: color(p-blue-light-40);
}
```

<div class="doc-swatches">
  <h3>Light Blue</h3>
  <div class="p-blue-light-50-bg">p-blue-light-50</div>
  <div class="p-blue-light-40-bg">p-blue-light-40</div>
  <div class="p-blue-light-35-bg">p-blue-light-35</div>
  <div class="p-blue-light-30-bg">p-blue-light-30</div>
  <div class="p-blue-light-25-bg">p-blue-light-25</div>
  <div class="p-blue-light-20-bg">p-blue-light-20</div>
  <div class="p-blue-light-15-bg">p-blue-light-15</div>
  <div class="p-blue-light-10-bg">p-blue-light-10</div>
  <div class="p-blue-light-5-bg">p-blue-light-5</div>
</div>

<div class="doc-swatches">
  <h3>Dark Blue</h3>
  <div class="p-blue-dark-5-bg">p-blue-light-5</div>
  <div class="p-blue-dark-10-bg">p-blue-dark-10</div>
  <div class="p-blue-dark-15-bg">p-blue-dark-15</div>
  <div class="p-blue-dark-20-bg">p-blue-dark-20</div>
  <div class="p-blue-dark-25-bg">p-blue-dark-25</div>
  <div class="p-blue-dark-30-bg">p-blue-dark-30</div>
  <div class="p-blue-darker-bg">p-blue-darker</div>
</div>

<div class="doc-swatches">
  <h3>Light Green</h3>
    <div class="p-green-light-25-bg">p-green-light-25</div>
    <div class="p-green-light-20-bg">p-green-light-20</div>
    <div class="p-green-light-15-bg">p-green-light-15</div>
    <div class="p-green-light-10-bg">p-green-light-10</div>
    <div class="p-green-light-5-bg"> p-green-light-5</div>
</div>


<div class="doc-swatches">
  <h3>Dark Green</h3>
  <div class="p-green-dark-5-bg">p-green-dark-5</div>
  <div class="p-green-dark-10-bg">p-green-dark-10</div>
  <div class="p-green-dark-15-bg">p-green-dark-15</div>
  <div class="p-green-dark-20-bg">p-green-dark-20</div>
  <div class="p-green-dark-25-bg">p-green-dark-25</div>
  <div class="p-green-dark-30-bg">p-green-dark-30</div>
  <div class="p-green-dark-35-bg">p-green-dark-35</div>
  <div class="p-green-dark-40-bg">p-green-dark-40</div>
</div>


*/

//color class-name helpers
@each $color, $value in $colors {
  .#{$color} {
    color: $value;
  }
  .#{$color}-bg {
    background-color: $value;
  }
}

.dim-background {
  background: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.width-full {
  width: 100%;
}

.hide {
  display: none !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.sr-only {  //for screen-readers only
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

//clearfix
@mixin clearfix() {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }

}

@mixin ellipses() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  @include ellipses();
}

// .animate-appear {
//   animation-name: fadeIn;
//   animation-duration: 1s;
//   opacity: 0;
//   animation-fill-mode: forwards;
// }

.animate-enter {
  animation-name: bounceInRight;
  animation-duration: $speed-slow;
  opacity: 0;
  animation-fill-mode: forwards;
}

.animate-leave {
  animation-name: fadeOut;
  animation-duration: $speed-fast;
  animation-fill-mode: forwards;

}


// .page-animate-enter,
// .page-animate-leave,
// .page-animate-reverse-enter,
// .page-animate-reverse-leave{
//   animation-name: slideInRight;
//   animation-duration: $speed-normal;
//   animation-fill-mode: forwards;
//   animation-timing-function: ease-out;
// }
//
// .page-animate-leave{
//   animation-name: slideOutLeft;
// }
//
// .page-animate-reverse-enter{
//   animation-name: slideInLeft;
// }
//
// .page-animate-reverse-leave{
//   animation-name: slideOutRight;
// }

.italic {
    font-style: italic;
}
