// TODO: divide in to separate var files.
@import "colors";

$roboto-font-path:"../media/fonts/Roboto/" !default;
$opensans-font-path:"../media/fonts/OpenSans/" !default;

$small-phone: "(max-width : 320px)" !default;
$phone: "(max-width : 500px)" !default;
$tablet: "(min-width : 501px)" !default;

$navbar-height: 56px;
$navbar-font-size:20px;
$tabbar-height: 48px;
$footer-height: 48px;
$reply-height: 35px;

$item-height: 5rem;

// z-indexes
$z-alert:600;
$z-login:500;
$z-navbar:400;
$z-sidebar:300;
$z-tabbar:200;
$z-content:100;

// various
$list-item-padding-left: 20px;


// Layout
$margin-base: 16px;
$margin-small: $margin-base/2;
$padding-base: 16px;
$padding-small: $padding-base/2;

// borders
$border-light: 1px solid $white-12;
$border-dark: 1px solid $black-12;

$radius-default: 2px;
$radius-circle: 50%;
