// TODO: divide in to separate var files.
@import 'colors';

$roboto-font-path:'../media/fonts/Roboto/' !default;
$material-icon-font-path: '../media/fonts/MaterialIcons/' !default;
$opensans-font-path:'../media/fonts/OpenSans/' !default;

$small-phone: '(max-width : 320px)' !default;
$phone: '(max-width : 500px)' !default;
$tablet: '(min-width : 501px)' !default;

$navbar-height: 56px;
$navbar-font-size:20px;
$tabbar-height: 48px;
$footer-height: 48px;
$reply-height: 35px;

$item-height: 5rem;

// z-indexes
//  TODO: SOON, fix z-index weirdness. Start by removing all z-indexs and adding back where needed.
$z-alert:7;
$z-login:6;
$z-navbar:5;
$z-sidebar:4;
$z-items-modal:2;
$z-tabbar:2;
$z-content:1;

// various
$list-item-padding-left: 20px;


// Layout
$margin-base: 16px;
$margin-small: $margin-base/2;
$padding-base: 16px;
$padding-small: $padding-base/2;

// borders
$border-light: 1px solid $white-12;
$border-dark: 1px solid $black-12;

$radius-default: 2px;
$radius-circle: 50%;
$radius-left: $radius-default 0 0 $radius-default;
$radius-right:  0 $radius-default $radius-default 0;


// transition speeds
$speed-fast: 150ms;
$speed-normal: 300ms;
$speed-slow: 600ms;
