$roboto-font-path:"../media/fonts/Roboto/" !default;
$opensans-font-path:"../media/fonts/OpenSans/" !default;

$small-phone: "(max-width : 320px)" !default;
$phone: "(max-width : 500px)" !default;
$tablet: "(min-width : 501px)" !default;

$navbar-height: 56px;
$navbar-font-size:20px;
$tabbar-height: 48px;
$footer-height: 48px;
$reply-height: 35px;

$item-height: 5rem;

// z-indexes
$z-alert:600;
$z-login:500;
$z-navbar:400;
$z-sidebar:300;
$z-tabbar:200;
$z-content:100;

// various
$list-item-padding-left: 20px;


// Layout
$base-spacing: 16px;
$base-margin: $base-spacing;
$small-margin: $base-margin/2;
$base-padding: $base-spacing;
$small-padding: $base-padding/2;

// borders
$light-divider: 1px solid rgba(255,255,255,0.12);
$dark-divider: 1px solid rgba(0,0,0,0.12);
