/**
 *  Login screen specific styles
 */
// combined with .modal class, this is a top-level
// full-screen wrapper for login page

.app-version{
  color: #73b3e0;
  position: absolute;
  left: 5px;
  top: 2px;
  font-size: 80%;
}
.logo {
  display: block;
  width: 100%;
  margin: 0 auto 25px auto;
}
.saved-login{
  color: white;
  background-color: #1d6ab5;
  margin: -10px -100% 12px -100%;
  padding: 5px 0 10px 0;
  font-size: 1.5em;
  text-align: center;
  .note{
    font-size: 0.9rem;
    margin-top: 5px;
    padding: 0 5px;
    color: #93c5ea;
  }
}

#login-process-state{
  text-align: center;
  color: color(p-blue-light-40);
  height:15px;
}
