/**
 *  Login screen specific styles
 */
// combined with .modal class, this is a top-level
// full-screen wrapper for login page
.loginForm{
  @extend .flex-col;
  justify-content: center;
  align-items: center;

  .buttons {
    left: 0;
    right: 0;
    position: absolute;
  }
}

.app-version {
  color: $white-30;
  position: absolute;
  left: 8px;
  top: 4px;
  font-size: 12px;
}

.logo {
  display: block;
  width: 100%;
  margin: 0 auto 25px auto;
  padding: $padding-base $padding-base 0;
}

.saved-login {
  color: $white-100;
  background-color: #1d6ab5;
  margin: $margin-small 0;
  padding: $padding-small 0 $padding-base;
  text-align: center;
  width: 100%;
  .caption{
    color: $white-30;
  }
}

#login-process-state{
  text-align: center;
  color: color(p-blue-light-40);
  height:15px;
  margin-top: $margin-base;
}
